Repository woowacourse-teams/2023-edonymyeon, pull requests merged in 2023-10, with the labels that each got.

#447 Feat/#446 뒤로가기 두번 앱종료
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/MainActivity.kt
  android/app/src/main/res/values/strings.xml
Labels: 💚 Android, 下, ⚡️ feature

#471 #470 회원가입 쿼리 개선
  backend/src/main/java/edonymyeon/backend/auth/application/AuthService.java
  backend/src/main/java/edonymyeon/backend/member/application/DeviceRepository.java
  backend/src/main/java/edonymyeon/backend/member/repository/MemberRepository.java
  backend/src/main/java/edonymyeon/backend/setting/application/SettingService.java
  backend/src/main/java/edonymyeon/backend/setting/domain/Setting.java
  backend/src/main/java/edonymyeon/backend/setting/repository/SettingCustomRepository.java
  backend/src/main/java/edonymyeon/backend/setting/repository/SettingRepository.java
  backend/src/main/java/edonymyeon/backend/setting/repository/SettingRepositoryImpl.java
  backend/src/main/resources/application-prod-test.properties
  backend/src/main/resources/application-prod.properties
  backend/src/main/resources/db/migration/mysql/V1.3.4__add_device_token_index.sql
Labels: ❤️ Backend

#477 Feat/#468 회원정보수정 뷰 구현
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/app/edonymyeon/data/datasource/auth/AuthRemoteDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/MyPageFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/adapter/PostEditorImagesAdapter.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/profileupdate/ProfileUpdateActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/profileupdate/ProfileUpdateViewModel.kt
  android/app/src/main/res/drawable/bg_666666_radius_6dp.xml
  android/app/src/main/res/layout/activity_profile_update.xml
  android/app/src/main/res/layout/activity_sign_up.xml
  android/app/src/main/res/values/strings.xml
Labels: 💚 Android, 中, ⚡️ feature

#434 refactor: 레디스를 사용하던 핫게시글 캐싱을 맵으로 전환함
  backend/build.gradle
  backend/src/main/java/edonymyeon/backend/cache/application/HotPostsRedisRepository.java
  backend/src/main/java/edonymyeon/backend/cache/application/PostCachingService.java
  backend/src/main/java/edonymyeon/backend/cache/domain/CachedHotPost.java
  backend/src/main/java/edonymyeon/backend/cache/repository/HotPostsRepository.java
  backend/src/main/java/edonymyeon/backend/global/config/RedisConfiguration.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceHotPostsTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/HotPostIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostCommentCountIntegrationTest.java
Labels: ❤️ Backend, 下, 🛠️ refactor, Auto-Deploy

#487 refactor/#478 오류처리 개선
  android/app/src/main/java/com/app/edonymyeon/data/common/CustomThrowableUtils.kt
  android/app/src/main/java/com/app/edonymyeon/data/common/FetchState.kt
  android/app/src/main/java/com/app/edonymyeon/data/common/Result.kt
  android/app/src/main/java/com/app/edonymyeon/data/repository/AuthRepositoryImpl.kt
  android/app/src/main/java/com/app/edonymyeon/data/repository/ConsumptionsRepositoryImpl.kt
  android/app/src/main/java/com/app/edonymyeon/data/repository/NotificationRepositoryImpl.kt
  android/app/src/main/java/com/app/edonymyeon/data/repository/PostRepositoryImpl.kt
  android/app/src/main/java/com/app/edonymyeon/data/repository/PreferenceRepositoryImpl.kt
  android/app/src/main/java/com/app/edonymyeon/data/repository/ProfileRepositoryImpl.kt
  android/app/src/main/java/com/app/edonymyeon/data/repository/RecommendRepositoryImpl.kt
  android/app/src/main/java/com/app/edonymyeon/data/repository/ReportRepositoryImpl.kt
  android/app/src/main/java/com/app/edonymyeon/data/repository/SearchRepositoryImpl.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/common/activity/BaseActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/common/fragment/BaseFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/common/viewmodel/BaseViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/alarmsetting/AlarmSettingViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/login/LoginViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/alarm/AlarmViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/HomeViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/MyPageViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/search/SearchViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/mypost/MyPostViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/post/PostViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/PostEditorViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/profileupdate/ProfileUpdateViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/signup/SignUpViewModel.kt
  android/app/src/test/java/com/app/edonymyeon/presentation/ui/main/home/HomeViewModelTest.kt
  android/app/src/test/java/com/app/edonymyeon/presentation/ui/mypost/MyPostViewModelTest.kt
Labels: 💚 Android, 🛠️ refactor

#475 Refactor/#469 화질저하 리팩토링
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/PostEditorActivity.kt
  android/app/src/main/res/xml/file_paths.xml
Labels: 💚 Android, 🛠️ refactor

#492 Feat/#485 빈화면문구추가
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/search/SearchFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/mypost/MyPostActivity.kt
  android/app/src/main/res/layout/activity_my_post.xml
  android/app/src/main/res/layout/fragment_search.xml
  android/app/src/main/res/values/strings.xml
Labels: 💚 Android, ⚡️ feature

#493 Refactor/#486 금액 관련 처리
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/PostEditorActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/PostEditorViewModel.kt
  android/app/src/main/res/layout/activity_post_editor.xml
Labels: 💚 Android, 🛠️ refactor

#432 Feat/#53 회원 정보 수정
  backend/build.gradle
  backend/src/docs/asciidoc/common/mypage-api.adoc
  backend/src/main/java/edonymyeon/backend/auth/application/AuthService.java
  backend/src/main/java/edonymyeon/backend/auth/ui/AuthController.java
  backend/src/main/java/edonymyeon/backend/comment/application/CommentService.java
  backend/src/main/java/edonymyeon/backend/comment/ui/CommentController.java
  backend/src/main/java/edonymyeon/backend/consumption/ui/ConsumptionController.java
  backend/src/main/java/edonymyeon/backend/global/exception/ExceptionInformation.java
  backend/src/main/java/edonymyeon/backend/image/ImageFileUploader.java
  backend/src/main/java/edonymyeon/backend/image/domain/Domain.java
  backend/src/main/java/edonymyeon/backend/image/profileimage/application/ProfileImageEventListener.java
  backend/src/main/java/edonymyeon/backend/image/profileimage/domain/ProfileImageInfo.java
  backend/src/main/java/edonymyeon/backend/member/application/MemberService.java
  backend/src/main/java/edonymyeon/backend/member/application/dto/request/MemberUpdateRequest.java
  backend/src/main/java/edonymyeon/backend/member/application/dto/response/DuplicateCheckResponse.java
  backend/src/main/java/edonymyeon/backend/member/application/dto/response/MemberUpdateResponse.java
  backend/src/main/java/edonymyeon/backend/member/application/dto/response/MyPageResponse.java
  backend/src/main/java/edonymyeon/backend/member/application/dto/response/MyPageResponseV1.java
  backend/src/main/java/edonymyeon/backend/member/application/dto/response/MyPageResponseV2.java
  backend/src/main/java/edonymyeon/backend/member/application/event/ProfileImageUploadEvent.java
  backend/src/main/java/edonymyeon/backend/member/domain/Member.java
  backend/src/main/java/edonymyeon/backend/member/ui/MemberController.java
  backend/src/main/java/edonymyeon/backend/notification/ui/NotificationController.java
  backend/src/main/java/edonymyeon/backend/post/application/PostReadService.java
  backend/src/main/java/edonymyeon/backend/post/ui/MyPostController.java
  backend/src/main/java/edonymyeon/backend/post/ui/PostController.java
  backend/src/main/java/edonymyeon/backend/post/ui/PostReadController.java
  backend/src/main/java/edonymyeon/backend/report/ui/ReportController.java
  backend/src/main/java/edonymyeon/backend/setting/ui/SettingController.java
  backend/src/main/java/edonymyeon/backend/thumbs/ui/ThumbsController.java
  backend/src/test/java/edonymyeon/backend/auth/AuthIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/auth/application/AuthServiceTest.java
  backend/src/test/java/edonymyeon/backend/auth/docs/AuthControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/comment/docs/CommentControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/consumption/docs/ConsumptionControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/member/application/MemberServiceTest.java
  backend/src/test/java/edonymyeon/backend/member/docs/MemberControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/member/domain/MemberTest.java
  backend/src/test/java/edonymyeon/backend/member/integration/MemberIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostFindingSpecificPostTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/MyPostControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/PostControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/PostCreationDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/ui/PostControllerTest.java
  backend/src/test/java/edonymyeon/backend/report/docs/ReportDocsTest.java
  backend/src/test/java/edonymyeon/backend/setting/docs/SettingControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/support/IntegrationFixture.java
  backend/src/test/java/edonymyeon/backend/support/MockMultipartFileTestSupport.java
  backend/src/test/java/edonymyeon/backend/support/ProfileImageInfoTestSupport.java
  backend/src/test/java/edonymyeon/backend/thumbs/docs/ThumbsControllerDocsTest.java
Labels: ❤️ Backend, ⚡️ feature, Auto-Deploy

#500 refactor/#496_어플 버전에 맞게 api에 전달하도록 수정
  android/app/src/main/java/com/app/edonymyeon/data/service/client/AccessTokenInterceptor.kt
Labels: 💚 Android, 🛠️ refactor

#489 Refacter/#488 핫게시글 정책변경
  backend/src/main/java/edonymyeon/backend/post/application/PostReadService.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/response/GeneralPostsInfoResponse.java
  backend/src/main/java/edonymyeon/backend/post/domain/HotPostPolicy.java
  backend/src/main/java/edonymyeon/backend/post/repository/PostRepository.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceHotPostsTest.java
  backend/src/test/java/edonymyeon/backend/post/application/TestCacheKeyStrategy.java
  backend/src/test/java/edonymyeon/backend/post/integration/HotPostIntegrationTest.java
Labels: ❤️ Backend, 🛠️ refactor, Auto-Deploy

#491 Refactor/#490 좋아요 동시성 처리
  backend/src/main/java/edonymyeon/backend/thumbs/application/ThumbsService.java
  backend/src/main/java/edonymyeon/backend/thumbs/domain/Thumbs.java
  backend/src/main/resources/db/migration/mysql/V1.3.5__add_thumbs_unique.sql
  backend/src/test/java/edonymyeon/backend/thumbs/application/ThumbsUpServiceTest.java
Labels: ❤️ Backend, 🛠️ refactor, Auto-Deploy

#506 Feat/#503 버저닝
  backend/src/main/java/edonymyeon/backend/auth/ui/AuthController.java
  backend/src/main/java/edonymyeon/backend/comment/ui/CommentController.java
  backend/src/main/java/edonymyeon/backend/consumption/ui/ConsumptionController.java
  backend/src/main/java/edonymyeon/backend/global/version/ApiVersion.java
  backend/src/main/java/edonymyeon/backend/global/version/ApiVersionRequestCondition.java
  backend/src/main/java/edonymyeon/backend/global/version/ApiVersionRequestMappingHandlerMapping.java
  backend/src/main/java/edonymyeon/backend/member/application/MemberService.java
  backend/src/main/java/edonymyeon/backend/member/application/dto/response/MyPageResponseV1.java
  backend/src/main/java/edonymyeon/backend/member/application/dto/response/MyPageResponseV1_0.java
  backend/src/main/java/edonymyeon/backend/member/application/dto/response/MyPageResponseV1_1.java
  backend/src/main/java/edonymyeon/backend/member/application/dto/response/MyPageResponseV2.java
  backend/src/main/java/edonymyeon/backend/member/ui/MemberController.java
  backend/src/main/java/edonymyeon/backend/notification/ui/NotificationController.java
  backend/src/main/java/edonymyeon/backend/post/ui/MyPostController.java
  backend/src/main/java/edonymyeon/backend/post/ui/PostController.java
  backend/src/main/java/edonymyeon/backend/post/ui/PostReadController.java
  backend/src/main/java/edonymyeon/backend/report/ui/ReportController.java
  backend/src/main/java/edonymyeon/backend/setting/ui/SettingController.java
  backend/src/main/java/edonymyeon/backend/thumbs/ui/ThumbsController.java
  backend/src/test/java/edonymyeon/backend/auth/AuthIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/auth/docs/AuthControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/comment/docs/CommentControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/consumption/docs/ConsumptionControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/image/ImageFileSizeIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/member/docs/MemberControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/member/integration/MemberIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/notification/integration/NotificationIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/MyPostControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/PostControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/PostCreationDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostCommentCountIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostSearchIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/ui/PostControllerTest.java
  backend/src/test/java/edonymyeon/backend/report/docs/ReportDocsTest.java
  backend/src/test/java/edonymyeon/backend/report/ui/ReportIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/setting/docs/SettingControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/setting/ui/SettingIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/support/EdonymyeonRestAssured.java
  backend/src/test/java/edonymyeon/backend/support/IntegrationFixture.java
  backend/src/test/java/edonymyeon/backend/support/PostIntegrationTestSupport.java
  backend/src/test/java/edonymyeon/backend/thumbs/docs/ThumbsControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/integration/ThumbsIntegrationTest.java
Labels: ❤️ Backend, ⚡️ feature

#501 Feat/#494 문의하기
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/MyPageFragment.kt
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/values/strings.xml
Labels: 💚 Android, ⚡️ feature

#481 Feat/#476 회원정보수정 연동
  android/app/build.gradle.kts
  android/app/src/main/java/com/app/edonymyeon/data/datasource/preference/PreferenceDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/profile/ProfileDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/profile/ProfileRemoteDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/request/ProfileUpdateRequest.kt
  android/app/src/main/java/com/app/edonymyeon/data/repository/ProfileRepositoryImpl.kt
  android/app/src/main/java/com/app/edonymyeon/data/service/ProfileService.kt
  android/app/src/main/java/com/app/edonymyeon/data/service/client/AccessTokenInterceptor.kt
  android/app/src/main/java/com/app/edonymyeon/data/service/fcm/AlarmService.kt
  android/app/src/main/java/com/app/edonymyeon/mapper/WriterMapper.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/alarmsetting/AlarmSettingActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/imagedetail/ImageDetailActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/login/LoginActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/alarm/AlarmFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/alarm/AlarmViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/HomeFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/MyPageViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/search/SearchFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/mypost/MyPostActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/post/PostActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/PostEditorActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/profileupdate/ProfileUpdateActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/profileupdate/ProfileUpdateViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/signup/SignUpViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/util/OnSingleClickListener.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/util/ViewUtil.kt
  android/app/src/main/res/drawable/bg_d9d9d9_radius_6dp.xml
  android/app/src/main/res/layout/activity_profile_update.xml
  android/app/src/main/res/layout/activity_sign_up.xml
  android/domain/src/main/java/com/domain/edonymyeon/model/Nickname.kt
  android/domain/src/main/java/com/domain/edonymyeon/repository/ProfileRepository.kt
Labels: 💚 Android, ⚡️ feature
