Repository woowacourse-teams/2023-edonymyeon, pull requests merged in 2023-09, with the labels that each got.

#362 Feat/#355 댓글 작성 및 삭제 기능 구현
  backend/src/docs/asciidoc/common/comment-api.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/edonymyeon/backend/comment/application/CommentService.java
  backend/src/main/java/edonymyeon/backend/comment/application/dto/CommentRequest.java
  backend/src/main/java/edonymyeon/backend/comment/domain/Comment.java
  backend/src/main/java/edonymyeon/backend/comment/repository/CommentRepository.java
  backend/src/main/java/edonymyeon/backend/comment/ui/CommentController.java
  backend/src/main/java/edonymyeon/backend/global/controlleradvice/GlobalExceptionHandler.java
  backend/src/main/java/edonymyeon/backend/global/exception/ExceptionInformation.java
  backend/src/main/java/edonymyeon/backend/image/commentimage/domain/CommentImageInfo.java
  backend/src/main/java/edonymyeon/backend/image/commentimage/repository/CommentImageInfoRepository.java
  backend/src/main/java/edonymyeon/backend/post/application/PostService.java
  backend/src/main/java/edonymyeon/backend/post/application/PostSlice.java
  backend/src/main/resources/application-prod-test.properties
  backend/src/main/resources/db/migration/mysql/V1.2.0__comment.sql
  backend/src/test/java/edonymyeon/backend/comment/application/CommentServiceTest.java
  backend/src/test/java/edonymyeon/backend/comment/docs/CommentControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/comment/integration/CommentIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/support/CommentTestSupport.java
  backend/src/test/java/edonymyeon/backend/support/IntegrationFixture.java
  backend/src/test/resources/truncate.sql
Labels: ❤️ Backend, ⚡️ feature

#352 Refactor/#342 코드 최적화
  backend/src/main/java/edonymyeon/backend/member/domain/Member.java
  backend/src/main/java/edonymyeon/backend/post/domain/Post.java
  backend/src/test/java/edonymyeon/backend/auth/AuthIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/auth/application/AuthDeleteServiceTest.java
  backend/src/test/java/edonymyeon/backend/consumption/application/MemberConsumptionServiceImplTest.java
  backend/src/test/java/edonymyeon/backend/consumption/docs/ConsumptionControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/consumption/domain/ConsumptionsPerMonthTest.java
  backend/src/test/java/edonymyeon/backend/consumption/integration/ConsumptionIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/consumption/repository/ConsumptionRepositoryTest.java
  backend/src/test/java/edonymyeon/backend/image/ImageFileSizeIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/member/docs/MemberControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/member/integration/MemberConsumptionIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/notification/application/NotificationEventListenerTest.java
  backend/src/test/java/edonymyeon/backend/notification/integration/NotificationIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/application/MyPostServiceTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostFindingSpecificPostTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceSearchPostsTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostViewTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/MyPostControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/PostControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/PostCreationDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/repository/PostRepositoryTest.java
  backend/src/test/java/edonymyeon/backend/post/ui/PostControllerTest.java
  backend/src/test/java/edonymyeon/backend/report/ReportServiceTest.java
  backend/src/test/java/edonymyeon/backend/report/docs/ReportDocsTest.java
  backend/src/test/java/edonymyeon/backend/setting/domain/SettingTest.java
  backend/src/test/java/edonymyeon/backend/support/IntegrationFixture.java
  backend/src/test/java/edonymyeon/backend/support/MemberTestSupport.java
  backend/src/test/java/edonymyeon/backend/support/PostIntegrationTestSupport.java
  backend/src/test/java/edonymyeon/backend/support/PostTestSupport.java
  backend/src/test/java/edonymyeon/backend/support/TestMemberBuilder.java
  backend/src/test/java/edonymyeon/backend/support/ThumbsUpPostTestSupport.java
  backend/src/test/java/edonymyeon/backend/thumbs/application/DeleteThumbsServiceTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/application/ThumbsDownServiceTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/application/ThumbsInPostServiceTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/application/ThumbsUpServiceTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/docs/ThumbsControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/domain/AllThumbsInPostTest.java
Labels: ❤️ Backend, 🛠️ refactor

#369 feat/#356 댓글뷰구현
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/viewholder/PostEditorImagesViewHolder.kt
  android/app/src/main/res/drawable/bg_d7d9ea_radius_5dp.xml
  android/app/src/main/res/drawable/bg_ffffff_radius_top_10dp.xml
  android/app/src/main/res/drawable/bg_stroke_b0b9d1_top.xml
  android/app/src/main/res/drawable/btn_comment_save.xml
  android/app/src/main/res/layout/activity_post_detail.xml
  android/app/src/main/res/layout/activity_post_editor.xml
  android/app/src/main/res/layout/dialog_report.xml
  android/app/src/main/res/layout/item_comment.xml
  android/app/src/main/res/layout/item_post_image.xml
  android/app/src/main/res/layout/view_comment_input.xml
  android/app/src/main/res/menu/menu_post_detail.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
Labels: 💚 Android, ⚡️ feature

#380 refactor: response의 nickName을 nickname으로 변경
  backend/src/main/java/edonymyeon/backend/post/application/dto/WriterResponse.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceFindingAllPostsTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/PostControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/support/TestMemberBuilder.java
Labels: ❤️ Backend, 🚨 上, 🛠️ refactor

#382 fix: 댓글 작성 요청에서 이미지 값이 null로 들어오는 경우 처리
  backend/src/main/java/edonymyeon/backend/comment/application/CommentService.java
Labels: 🐞 bug, ❤️ Backend, 🚨 上, Auto-Deploy

#374 Fix/#368 회원정보수정 준비중
  android/app/src/main/java/com/app/edonymyeon/data/service/client/RetrofitClient.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/MyPageFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/PostEditorActivity.kt
  android/app/src/main/res/values/strings.xml
Labels: 💚 Android, ⚡️ feature

#389 fix: 댓글 글자수 제한을 게시글 글자수 제한과 동일하도록 수정
  backend/src/main/java/edonymyeon/backend/comment/domain/Comment.java
  backend/src/main/resources/db/migration/mysql/V1.2.1__change_comment_longtext.sql
  backend/src/test/java/edonymyeon/backend/comment/integration/CommentIntegrationTest.java
Labels: 🐞 bug, ❤️ Backend

#377 Feat/#375 댓글 수를 조회하고 스크랩수는 제거한다
  backend/src/main/java/edonymyeon/backend/post/application/PostReadService.java
  backend/src/main/java/edonymyeon/backend/post/application/PostService.java
  backend/src/main/java/edonymyeon/backend/post/application/PostThumbsService.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/PostResponse.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/ReactionCountResponse.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/request/PostModificationRequest.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/request/PostRequest.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/response/AllThumbsInPostResponse.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/response/GeneralPostInfoResponse.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/response/PostIdResponse.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/response/ReactionCountResponse.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/response/SpecificPostInfoResponse.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/response/ThumbsStatusInPostResponse.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/response/WriterDetailResponse.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/response/WriterResponse.java
  backend/src/main/java/edonymyeon/backend/post/domain/Post.java
  backend/src/main/java/edonymyeon/backend/post/ui/PostController.java
  backend/src/main/java/edonymyeon/backend/post/ui/PostReadController.java
  backend/src/main/java/edonymyeon/backend/thumbs/application/PostThumbsServiceImpl.java
  backend/src/test/java/edonymyeon/backend/comment/integration/CommentIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/consumption/integration/ConsumptionIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/consumption/integration/steps/ConsumptionSteps.java
  backend/src/test/java/edonymyeon/backend/member/integration/MemberConsumptionIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/member/integration/steps/MemberConsumptionSteps.java
  backend/src/test/java/edonymyeon/backend/post/application/PostFindingSpecificPostTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceFindingAllPostsTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceHotPostsTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/MyPostControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/PostControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostCommentCountIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/ui/PostControllerTest.java
  backend/src/test/java/edonymyeon/backend/report/docs/ReportDocsTest.java
  backend/src/test/java/edonymyeon/backend/support/IntegrationFixture.java
  backend/src/test/java/edonymyeon/backend/thumbs/application/DeleteThumbsServiceTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/application/ThumbsDownServiceTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/application/ThumbsInPostServiceTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/application/ThumbsUpServiceTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/integration/ThumbsIntegrationTest.java
Labels: ❤️ Backend, ⚡️ feature

#395 fix: 핫 게시글 조회 정책 변경으로 인한 깨지는 테스트 수정
  backend/src/test/java/edonymyeon/backend/post/integration/PostCommentCountIntegrationTest.java
Labels: 🐞 bug, ❤️ Backend

#390 Feat/#387 댓글 신고기능
  backend/src/main/java/edonymyeon/backend/global/exception/ExceptionInformation.java
  backend/src/main/java/edonymyeon/backend/report/application/ReportRequest.java
  backend/src/main/java/edonymyeon/backend/report/application/ReportService.java
  backend/src/main/java/edonymyeon/backend/report/domain/Report.java
  backend/src/main/java/edonymyeon/backend/report/domain/ReportType.java
  backend/src/main/resources/db/migration/mysql/V1.2.2__update_report.sql
  backend/src/test/java/edonymyeon/backend/report/ReportServiceTest.java
  backend/src/test/java/edonymyeon/backend/report/application/ReportServiceTest.java
  backend/src/test/java/edonymyeon/backend/report/docs/ReportDocsTest.java
  backend/src/test/java/edonymyeon/backend/report/ui/ReportIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/support/IntegrationFixture.java
Labels: ❤️ Backend, ⚡️ feature, Auto-Deploy

#397 feat: 이미지 파일 도메인 환경변수 설정
  backend/src/main/resources/application-prod.properties
Labels: 🐞 bug, ❤️ Backend, 🏗️ infra

#391 Feat/#345 회원 정보 암호화
  backend/src/main/java/edonymyeon/backend/auth/application/AuthService.java
  backend/src/main/java/edonymyeon/backend/auth/domain/BasicTokenGenerator.java
  backend/src/main/java/edonymyeon/backend/auth/domain/PasswordEncoder.java
  backend/src/main/java/edonymyeon/backend/auth/domain/SimplePasswordEncoder.java
  backend/src/main/java/edonymyeon/backend/auth/domain/TokenGenerator.java
  backend/src/main/java/edonymyeon/backend/auth/ui/AuthController.java
  backend/src/main/java/edonymyeon/backend/auth/ui/argumentresolver/AuthArgumentResolver.java
  backend/src/main/java/edonymyeon/backend/global/exception/ExceptionInformation.java
  backend/src/main/java/edonymyeon/backend/member/domain/Member.java
  backend/src/main/java/edonymyeon/backend/member/domain/PasswordValidator.java
  backend/src/test/java/edonymyeon/backend/auth/AuthIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/auth/application/AuthDeleteServiceTest.java
  backend/src/test/java/edonymyeon/backend/auth/application/AuthServiceTest.java
  backend/src/test/java/edonymyeon/backend/auth/docs/AuthControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/auth/domain/SimplePasswordEncoderTest.java
  backend/src/test/java/edonymyeon/backend/member/domain/MemberTest.java
  backend/src/test/java/edonymyeon/backend/notification/integration/NotificationIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/support/MemberTestSupport.java
Labels: ❤️ Backend, 🚨 上, Auto-Deploy

#388 Fix/#367 카카오톡 로그인 오류
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/app/edonymyeon/data/dto/WriterNickNameDataModel.kt
Labels: 🐞 bug, 💚 Android

#401 feat: 내가 쓴 글 조회시 댓글수, 조회수도 반영되도록 추가
  backend/src/main/java/edonymyeon/backend/image/postimage/domain/PostImageInfos.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/response/GeneralPostInfoResponse.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/response/MyPostResponse.java
  backend/src/main/java/edonymyeon/backend/post/domain/Post.java
  backend/src/test/java/edonymyeon/backend/post/docs/MyPostControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostCommentCountIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostIntegrationTest.java
Labels: ❤️ Backend, ⚡️ feature

#404 refactor: uk, fk 이름 수정
  backend/src/main/resources/db/migration/mysql/V1.0.0__init.sql
  backend/src/main/resources/db/migration/mysql/V1.3.1__update_fk_name.sql
Labels: ❤️ Backend, 🏗️ infra

#406 Feat/#378 게시글 soft delete
  backend/src/main/java/edonymyeon/backend/comment/application/PostCommentServiceImpl.java
  backend/src/main/java/edonymyeon/backend/comment/domain/Comment.java
  backend/src/main/java/edonymyeon/backend/comment/repository/CommentRepository.java
  backend/src/main/java/edonymyeon/backend/image/commentimage/domain/CommentImageInfo.java
  backend/src/main/java/edonymyeon/backend/image/commentimage/repository/CommentImageInfoRepository.java
  backend/src/main/java/edonymyeon/backend/image/postimage/domain/PostImageInfo.java
  backend/src/main/java/edonymyeon/backend/image/postimage/domain/PostImageInfos.java
  backend/src/main/java/edonymyeon/backend/post/application/PostCommentService.java
  backend/src/main/java/edonymyeon/backend/post/application/PostService.java
  backend/src/main/java/edonymyeon/backend/post/domain/Post.java
  backend/src/main/resources/db/migration/mysql/V1.3.2__add_post_soft_delete.sql
  backend/src/test/java/edonymyeon/backend/comment/application/CommentServiceTest.java
  backend/src/test/java/edonymyeon/backend/comment/integration/CommentIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/consumption/integration/ConsumptionIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/member/integration/MemberConsumptionIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/MyPostControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/PostControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostCommentCountIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/report/docs/ReportDocsTest.java
  backend/src/test/java/edonymyeon/backend/report/ui/ReportIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/support/CommentTestSupport.java
  backend/src/test/java/edonymyeon/backend/support/IntegrationFixture.java
  backend/src/test/java/edonymyeon/backend/support/MockMultipartFileTestSupport.java
Labels: ❤️ Backend

#417 fix: 게시글 삭제시 댓글의 이미지가 deleted 컬럼이 true로 바뀌지 않던 이슈 수정
  backend/src/main/java/edonymyeon/backend/comment/repository/CommentRepository.java
  backend/src/main/java/edonymyeon/backend/image/commentimage/repository/CommentImageInfoRepository.java
  backend/src/main/java/edonymyeon/backend/post/application/PostService.java
Labels: 🐞 bug, ❤️ Backend

#408 Feat/#407 알림 구현
  backend/build.gradle
  backend/src/main/java/edonymyeon/backend/BackendApplication.java
  backend/src/main/java/edonymyeon/backend/comment/application/CommentService.java
  backend/src/main/java/edonymyeon/backend/comment/application/event/SavedCommentEvent.java
  backend/src/main/java/edonymyeon/backend/comment/domain/Comment.java
  backend/src/main/java/edonymyeon/backend/consumption/application/PostConsumptionServiceImpl.java
  backend/src/main/java/edonymyeon/backend/member/repository/MemberCustomRepository.java
  backend/src/main/java/edonymyeon/backend/member/repository/MemberCustomRepositoryImpl.java
  backend/src/main/java/edonymyeon/backend/member/repository/MemberRepository.java
  backend/src/main/java/edonymyeon/backend/notification/application/NotificationEventListener.java
  backend/src/main/java/edonymyeon/backend/notification/application/NotificationService.java
  backend/src/main/java/edonymyeon/backend/notification/domain/NotificationMessage.java
  backend/src/main/java/edonymyeon/backend/notification/infrastructure/FCMNotificationSender.java
  backend/src/main/java/edonymyeon/backend/notification/repository/NotificationRepository.java
  backend/src/main/java/edonymyeon/backend/post/application/PostService.java
  backend/src/main/java/edonymyeon/backend/post/application/event/PostDeletionEvent.java
  backend/src/main/java/edonymyeon/backend/post/domain/Post.java
  backend/src/main/java/edonymyeon/backend/setting/application/SettingService.java
  backend/src/main/java/edonymyeon/backend/thumbs/application/ThumbsService.java
  backend/src/main/java/edonymyeon/backend/thumbs/application/event/PostDeletionEvent.java
  backend/src/main/java/edonymyeon/backend/thumbs/repository/ThumbsRepository.java
  backend/src/test/java/edonymyeon/backend/member/repository/MemberRepositoryTest.java
  backend/src/test/java/edonymyeon/backend/notification/application/NotificationEventListenerTest.java
  backend/src/test/java/edonymyeon/backend/notification/application/NotificationServiceTest.java
  backend/src/test/java/edonymyeon/backend/notification/integration/NotificationIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/setting/application/SettingServiceTest.java
  backend/src/test/java/edonymyeon/backend/support/IntegrationFixture.java
Labels: ❤️ Backend, ⚡️ feature

#426 fix: 내가 쓴 글 조회에서 댓글수가 제대로 조회 안되는 버그 수정
  backend/src/main/java/edonymyeon/backend/post/application/dto/response/MyPostResponse.java
  backend/src/test/java/edonymyeon/backend/member/integration/MemberIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/MyPostIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostCommentCountIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/support/IntegrationFixture.java
Labels: 🐞 bug, ❤️ Backend, Auto-Deploy

#424 Fix/#423 삭제된게시글 무한로딩
  android/app/src/main/java/com/app/edonymyeon/data/common/CustomThrowableUtils.kt
  android/app/src/main/java/com/app/edonymyeon/data/repository/AuthRepositoryImpl.kt
  android/app/src/main/java/com/app/edonymyeon/data/repository/PostRepositoryImpl.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/post/PostActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/dialog/PostDeletedDialog.kt
  android/app/src/main/res/layout/activity_post.xml
  android/app/src/main/res/layout/activity_post_detail.xml
  android/app/src/main/res/layout/dialog_post_deleted.xml
  android/app/src/main/res/layout/item_comment.xml
  android/app/src/main/res/values/strings.xml
Labels: 🐞 bug, 💚 Android

#413 Feat #353 알림기능
  android/app/src/main/java/com/app/edonymyeon/data/datasource/post/PostDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/post/PostRemoteDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/preference/PreferenceDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/preference/PreferenceRemoteDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/profile/ProfileDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/profile/ProfileRemoteDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/NotificationPreferenceDataModel.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/request/NotificationPreferenceRequest.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/response/NotificationPreferenceResponse.kt
  android/app/src/main/java/com/app/edonymyeon/data/repository/PostRepositoryImpl.kt
  android/app/src/main/java/com/app/edonymyeon/data/repository/PreferenceRepositoryImpl.kt
  android/app/src/main/java/com/app/edonymyeon/data/repository/ProfileRepositoryImpl.kt
  android/app/src/main/java/com/app/edonymyeon/data/service/PostService.kt
  android/app/src/main/java/com/app/edonymyeon/data/service/PreferenceService.kt
  android/app/src/main/java/com/app/edonymyeon/data/service/ProfileService.kt
  android/app/src/main/java/com/app/edonymyeon/data/service/fcm/AlarmService.kt
  android/app/src/main/java/com/app/edonymyeon/mapper/NotificationPreferenceMapper.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/alarmsetting/AlarmSettingActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/alarmsetting/AlarmSettingViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/alarmsetting/AlarmSettingViewModelFactory.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/MainActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/alarm/AlarmFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/MyPageFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/mypost/MyPostActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/mypost/MyPostViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailViewModel.kt
  android/app/src/main/res/layout/activity_alarm_setting.xml
  android/app/src/main/res/layout/item_alarm.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/test/java/com/app/edonymyeon/presentation/ui/mypost/MyPostViewModelTest.kt
  android/app/src/test/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailViewModelTest.kt
  android/domain/src/main/java/com/domain/edonymyeon/model/NotificationPreference.kt
  android/domain/src/main/java/com/domain/edonymyeon/repository/PostRepository.kt
  android/domain/src/main/java/com/domain/edonymyeon/repository/PreferenceRepository.kt
  android/domain/src/main/java/com/domain/edonymyeon/repository/ProfileRepository.kt
Labels: 💚 Android, 🚨 上, ⚡️ feature

#411 Feat/#366 네트워크 오류대응
  android/app/src/main/java/com/app/edonymyeon/data/common/FetchState.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/common/activity/BaseActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/common/fragment/BaseFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/common/viewmodel/BaseViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/alarmsetting/AlarmSettingActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/alarmsetting/AlarmSettingViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/login/LoginActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/login/LoginViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/alarm/AlarmFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/alarm/AlarmViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/HomeFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/HomeViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/MyPageFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/MyPageViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/search/SearchFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/search/SearchViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/mypost/MyPostActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/mypost/MyPostViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/post/PostActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/post/PostViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/PostEditorActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/PostEditorViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/signup/SignUpActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/signup/SignUpViewModel.kt
Labels: 💚 Android, ⚡️ feature

#422 refactor: 이중 스크롤 막기
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/adapter/AllPostAdapter.kt
  android/app/src/main/res/layout/fragment_home.xml
Labels: 💚 Android, 🛠️ refactor

#438 Fix:437_alarm bug
  android/app/src/main/java/com/app/edonymyeon/data/dto/NotificationDataModel.kt
  android/app/src/main/java/com/app/edonymyeon/mapper/NotificationMapper.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/alarm/AlarmFragment.kt
Labels: 🐞 bug, 💚 Android, 🚨 上

#442 feat: 헤더 이름 세션에 맞게 수정
  android/app/src/main/java/com/app/edonymyeon/data/repository/AuthRepositoryImpl.kt
  android/app/src/main/java/com/app/edonymyeon/data/service/client/AccessTokenInterceptor.kt
Labels: 💚 Android, ⚡️ feature

#431 Fix/#376 배포 이전 버전의 restdocs 문서가 조회되는 이슈 수정
  backend/build.gradle
  backend/src/docs/asciidoc/common/report-api.adoc
Labels: 🐞 bug, ❤️ Backend

#451 fix: 게시글 수정시 npe 해결
  backend/src/main/java/edonymyeon/backend/post/application/PostService.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceTest.java
Labels: ❤️ Backend, 🛠️ refactor, Auto-Deploy

#430 #427 알림 버그 해결하기(4가지)
  backend/src/main/java/edonymyeon/backend/auth/application/AuthService.java
  backend/src/main/java/edonymyeon/backend/auth/application/event/JoinMemberEvent.java
  backend/src/main/java/edonymyeon/backend/comment/domain/Comment.java
  backend/src/main/java/edonymyeon/backend/consumption/application/ConsumptionService.java
  backend/src/main/java/edonymyeon/backend/member/application/DeviceRepository.java
  backend/src/main/java/edonymyeon/backend/member/application/MemberEventListener.java
  backend/src/main/java/edonymyeon/backend/member/application/MemberService.java
  backend/src/main/java/edonymyeon/backend/member/domain/Device.java
  backend/src/main/java/edonymyeon/backend/member/repository/MemberCustomRepository.java
  backend/src/main/java/edonymyeon/backend/member/repository/MemberCustomRepositoryImpl.java
  backend/src/main/java/edonymyeon/backend/notification/application/NotificationService.java
  backend/src/test/java/edonymyeon/backend/member/application/MemberServiceTest.java
  backend/src/test/java/edonymyeon/backend/member/repository/MemberRepositoryTest.java
  backend/src/test/java/edonymyeon/backend/notification/application/NotificationServiceTest.java
  backend/src/test/resources/truncate.sql
Labels: ❤️ Backend

#414 Refactor/#409 session 로그인
  backend/src/docs/asciidoc/common/authentication-api.adoc
  backend/src/docs/asciidoc/common/comment-api.adoc
  backend/src/docs/asciidoc/common/mypage-api.adoc
  backend/src/docs/asciidoc/common/post-api.adoc
  backend/src/docs/asciidoc/common/thumbs-api.adoc
  backend/src/main/java/edonymyeon/backend/auth/application/AuthService.java
  backend/src/main/java/edonymyeon/backend/auth/ui/AuthController.java
  backend/src/main/java/edonymyeon/backend/auth/ui/SessionConst.java
  backend/src/main/java/edonymyeon/backend/auth/ui/argumentresolver/AuthArgumentResolver.java
  backend/src/test/java/edonymyeon/backend/auth/AuthIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/auth/application/AuthDeleteServiceTest.java
  backend/src/test/java/edonymyeon/backend/auth/application/AuthServiceTest.java
  backend/src/test/java/edonymyeon/backend/auth/docs/AuthControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/comment/docs/CommentControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/comment/integration/CommentIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/consumption/docs/ConsumptionControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/consumption/integration/ConsumptionIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/image/ImageFileSizeIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/member/docs/MemberControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/member/integration/MemberConsumptionIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/member/integration/MemberIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/notification/integration/NotificationIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/MyPostControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/PostControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/PostCreationDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/MyPostIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostCommentCountIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/ui/PostControllerTest.java
  backend/src/test/java/edonymyeon/backend/report/docs/ReportDocsTest.java
  backend/src/test/java/edonymyeon/backend/report/ui/ReportIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/setting/docs/SettingControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/setting/ui/SettingIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/support/IntegrationFixture.java
  backend/src/test/java/edonymyeon/backend/support/PostIntegrationTestSupport.java
  backend/src/test/java/edonymyeon/backend/support/TestMemberBuilder.java
  backend/src/test/java/edonymyeon/backend/thumbs/docs/ThumbsControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/integration/ThumbsIntegrationTest.java
Labels: ❤️ Backend, 🛠️ refactor

#420 Refactor/#418 회원 프로필 삭제 로직 수정
  backend/src/main/java/edonymyeon/backend/auth/application/AuthService.java
  backend/src/main/java/edonymyeon/backend/auth/ui/AuthController.java
  backend/src/main/java/edonymyeon/backend/image/postimage/domain/PostImageInfos.java
  backend/src/main/java/edonymyeon/backend/image/profileimage/application/ProfileImageEventListener.java
  backend/src/main/java/edonymyeon/backend/member/application/MemberService.java
  backend/src/main/java/edonymyeon/backend/member/application/event/ProfileImageDeletionEvent.java
  backend/src/main/java/edonymyeon/backend/member/ui/MemberController.java
  backend/src/test/java/edonymyeon/backend/auth/application/AuthServiceTest.java
  backend/src/test/java/edonymyeon/backend/notification/application/NotificationServiceTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostViewIntegrationTest.java
Labels: ❤️ Backend, 下, 🛠️ refactor, Auto-Deploy

#452 Feat/#439 백엔드 버저닝
  backend/src/main/java/edonymyeon/backend/auth/ui/AuthController.java
  backend/src/main/java/edonymyeon/backend/comment/ui/CommentController.java
  backend/src/main/java/edonymyeon/backend/consumption/ui/ConsumptionController.java
  backend/src/main/java/edonymyeon/backend/global/config/CustomRequestMappingHandlerMapping.java
  backend/src/main/java/edonymyeon/backend/global/version/ApiVersion.java
  backend/src/main/java/edonymyeon/backend/global/version/ApiVersionRequestCondition.java
  backend/src/main/java/edonymyeon/backend/global/version/ApiVersionRequestMappingHandlerMapping.java
  backend/src/main/java/edonymyeon/backend/member/ui/MemberController.java
  backend/src/main/java/edonymyeon/backend/notification/ui/NotificationController.java
  backend/src/main/java/edonymyeon/backend/post/ui/MyPostController.java
  backend/src/main/java/edonymyeon/backend/post/ui/PostController.java
  backend/src/main/java/edonymyeon/backend/post/ui/PostReadController.java
  backend/src/main/java/edonymyeon/backend/post/ui/ReadPostController.java
  backend/src/main/java/edonymyeon/backend/report/ui/ReportController.java
  backend/src/main/java/edonymyeon/backend/setting/ui/SettingController.java
  backend/src/main/java/edonymyeon/backend/thumbs/ui/ThumbsController.java
  backend/src/test/java/edonymyeon/backend/auth/AuthIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/auth/docs/AuthControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/comment/docs/CommentControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/comment/integration/CommentIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/consumption/docs/ConsumptionControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/consumption/integration/ConsumptionIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/image/ImageFileSizeIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/member/docs/MemberControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/member/integration/MemberConsumptionIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/member/integration/MemberIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/notification/integration/NotificationIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/MyPostControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/PostControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/PostCreationDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/HotPostIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/MyPostIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostCommentCountIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostSearchIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/ui/PostControllerTest.java
  backend/src/test/java/edonymyeon/backend/report/docs/ReportDocsTest.java
  backend/src/test/java/edonymyeon/backend/report/ui/ReportIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/setting/docs/SettingControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/setting/ui/SettingIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/support/EdonymyeonRestAssured.java
  backend/src/test/java/edonymyeon/backend/support/IntegrationFixture.java
  backend/src/test/java/edonymyeon/backend/support/PostIntegrationTestSupport.java
  backend/src/test/java/edonymyeon/backend/thumbs/docs/ThumbsControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/integration/ThumbsIntegrationTest.java
Labels: ❤️ Backend, 🚨 上, ⚡️ feature

#453 feat: header에 버저닝 적용
  android/app/build.gradle.kts
  android/app/src/main/java/com/app/edonymyeon/data/service/client/AccessTokenInterceptor.kt
Labels: 💚 Android, ⚡️ feature

#393 feat: post table의 created_at 컬럼에 인덱스를 설정한다
  backend/src/main/java/edonymyeon/backend/global/domain/TemporalRecord.java
  backend/src/main/java/edonymyeon/backend/post/domain/Post.java
  backend/src/main/resources/db/migration/mysql/V1.3.3__add_post_index.sql
Labels: ❤️ Backend

#458 fix: 회원 정보 암호화시 사용한 코드들 삭제
  backend/src/main/java/edonymyeon/backend/auth/application/AuthService.java
  backend/src/main/java/edonymyeon/backend/auth/ui/AuthController.java
  backend/src/main/java/edonymyeon/backend/member/domain/Member.java
  backend/src/test/java/edonymyeon/backend/member/domain/MemberTest.java
Labels: ❤️ Backend, Auto-Deploy

#460 fix: 소셜로 회원가입 시에도 설정 초기화 작업을 수행하도록 변경
  backend/src/main/java/edonymyeon/backend/auth/application/AuthService.java
  backend/src/test/java/edonymyeon/backend/auth/application/AuthServiceTest.java
Labels: 🐞 bug
