Repository woowacourse-teams/2023-edonymyeon, pull requests merged in 2023-07, with the labels that each got.

#23 feat: [백엔드] 프로젝트 생성
  .gitignore
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/edonymyeon/backend/BackendApplication.java
  backend/src/main/resources/application.properties
  backend/src/test/java/edonymyeon/backend/BackendApplicationTests.java
Labels: ❤️ Backend

#25 Feat/#3 안드로이드 초기세팅
  android/.gitignore
  android/app/.gitignore
  android/app/build.gradle.kts
  android/app/proguard-rules.pro
  android/app/src/androidTest/java/com/app/edonymyeon/ExampleInstrumentedTest.kt
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/app/edonymyeon/data/datasource/.gitkeep
  android/app/src/main/java/com/app/edonymyeon/data/datasource/user/.gitkeep
  android/app/src/main/java/com/app/edonymyeon/data/dto/.gitkeep
  android/app/src/main/java/com/app/edonymyeon/data/dto/request/.gitkeep
  android/app/src/main/java/com/app/edonymyeon/data/dto/response/.gitkeep
  android/app/src/main/java/com/app/edonymyeon/data/repository/.gitkeep
  android/app/src/main/java/com/app/edonymyeon/data/service/.gitkeep
  android/app/src/main/java/com/app/edonymyeon/data/service/client/.gitkeep
  android/app/src/main/java/com/app/edonymyeon/mapper/.gitkeep
  android/app/src/main/java/com/app/edonymyeon/presentation/common/.gitkeep
  android/app/src/main/java/com/app/edonymyeon/presentation/common/customview/.gitkeep
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/MainActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/MainAdapter.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/.gitkeep
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/user/.gitkeep
  android/app/src/main/java/com/app/edonymyeon/presentation/util/.gitkeep
  android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  android/app/src/main/res/drawable/ic_launcher_background.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  android/app/src/main/res/values-night/themes.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/app/src/main/res/xml/backup_rules.xml
  android/app/src/main/res/xml/data_extraction_rules.xml
  android/app/src/test/java/com/app/edonymyeon/ExampleUnitTest.kt
  android/build.gradle.kts
  android/domain/.gitignore
  android/domain/build.gradle.kts
  android/domain/src/main/java/com/domain/edonymyeon/.gitkeep
  android/domain/src/main/java/com/domain/edonymyeon/repository/.gitkeep
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  android/settings.gradle.kts
Labels: 💚 Android, 🚨 上, ⚡️ feature

#29 Feat/#7 게시글 작성 기능구현
  backend/build.gradle
  backend/src/main/java/edonymyeon/backend/BackendApplication.java
  backend/src/main/java/edonymyeon/backend/controller/PostController.java
  backend/src/main/java/edonymyeon/backend/domain/Post.java
  backend/src/main/java/edonymyeon/backend/domain/exception/EdonymyeonException.java
  backend/src/main/java/edonymyeon/backend/domain/exception/ExceptionCode.java
  backend/src/main/java/edonymyeon/backend/repository/PostRepository.java
  backend/src/main/java/edonymyeon/backend/service/PostService.java
  backend/src/main/java/edonymyeon/backend/service/request/PostRequest.java
  backend/src/main/java/edonymyeon/backend/service/response/PostResponse.java
  backend/src/main/resources/application.properties
  backend/src/test/java/edonymyeon/backend/controller/PostControllerTest.java
  backend/src/test/java/edonymyeon/backend/repository/PostRepositoryTest.java
  backend/src/test/java/edonymyeon/backend/service/PostServiceTest.java
Labels: ❤️ Backend, ⚡️ feature

#31 Feat/#22_로그인_뷰
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/auth/LoginActivity.kt
  android/app/src/main/res/drawable/bg_576b9e_radius_25dp.xml
  android/app/src/main/res/drawable/bg_stroke_576b9e_radius_10dp.xml
  android/app/src/main/res/font/dohyeon.ttf
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
Labels: 💚 Android, 中, ⚡️ feature

#34 Feat/#6 메인 페이지
  android/app/build.gradle.kts
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/MainActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/MainAdapter.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/alarm/AlarmFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/category/CategoryFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/.gitkeep
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/HomeFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/MyPageFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/search/SearchFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/user/.gitkeep
  android/app/src/main/res/drawable/ic_bottom_nav_alarm.xml
  android/app/src/main/res/drawable/ic_bottom_nav_category.xml
  android/app/src/main/res/drawable/ic_bottom_nav_home.xml
  android/app/src/main/res/drawable/ic_bottom_nav_my_page.xml
  android/app/src/main/res/drawable/ic_bottom_nav_search.xml
  android/app/src/main/res/drawable/selector_bottom_nav_icon_tint.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/fragment_alarm.xml
  android/app/src/main/res/layout/fragment_category.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/fragment_preparing_page.xml
  android/app/src/main/res/layout/fragment_search.xml
  android/app/src/main/res/menu/bottom_menu.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
Labels: 💚 Android, ⚡️ feature

#39 feat: Member 로그인 기능 구현
  backend/src/main/java/edonymyeon/backend/controller/AuthController.java
  backend/src/main/java/edonymyeon/backend/domain/Member.java
  backend/src/main/java/edonymyeon/backend/domain/exception/ExceptionCode.java
  backend/src/main/java/edonymyeon/backend/repository/MemberRepository.java
  backend/src/main/java/edonymyeon/backend/service/AuthenticationService.java
  backend/src/main/java/edonymyeon/backend/service/request/LoginRequest.java
  backend/src/main/java/edonymyeon/backend/service/response/MemberIdDto.java
Labels: ❤️ Backend, ⚡️ feature

#41 feat: 회원만 게시글을 작성하는 기능 구현
  backend/src/main/java/edonymyeon/backend/config/WebMvcConfiguration.java
  backend/src/main/java/edonymyeon/backend/controller/PostController.java
  backend/src/main/java/edonymyeon/backend/controlleradvice/GlobalExceptionHandler.java
  backend/src/main/java/edonymyeon/backend/domain/Post.java
  backend/src/main/java/edonymyeon/backend/domain/exception/EdonymyeonException.java
  backend/src/main/java/edonymyeon/backend/domain/exception/ExceptionInformation.java
  backend/src/main/java/edonymyeon/backend/service/AuthenticationService.java
  backend/src/test/java/edonymyeon/backend/controller/PostControllerTest.java
  backend/src/test/resources/dummydata.sql
Labels: ❤️ Backend, ⚡️ feature

#44 Fix/#40 이미지 첨부 오류 수정
  backend/src/main/java/edonymyeon/backend/service/PostService.java
  backend/src/main/resources/static/image/test_store/이미지.png
  backend/src/test/java/edonymyeon/backend/service/PostServiceTest.java
Labels: 🐞 bug, ❤️ Backend

#48 Refactor/#45 사진 정보 수정
  backend/src/main/java/edonymyeon/backend/domain/ImageInfo.java
  backend/src/main/java/edonymyeon/backend/domain/Member.java
  backend/src/main/java/edonymyeon/backend/domain/Post.java
  backend/src/main/java/edonymyeon/backend/domain/PostImageInfo.java
  backend/src/main/java/edonymyeon/backend/domain/ProfileImageInfo.java
  backend/src/main/java/edonymyeon/backend/repository/ImageInfoRepository.java
  backend/src/main/java/edonymyeon/backend/repository/PostImageInfoRepository.java
  backend/src/main/java/edonymyeon/backend/service/ImageFileUploader.java
  backend/src/main/java/edonymyeon/backend/service/PostService.java
  backend/src/test/java/edonymyeon/backend/service/PostServiceTest.java
Labels: ❤️ Backend, 🛠️ refactor

#56 feat/#55 게시글에 작성자 정보를 저장하는 기능 구현
  backend/src/main/java/edonymyeon/backend/global/exception/ExceptionInformation.java
  backend/src/main/java/edonymyeon/backend/member/domain/Member.java
  backend/src/main/java/edonymyeon/backend/post/application/PostService.java
  backend/src/main/java/edonymyeon/backend/post/domain/Post.java
  backend/src/main/java/edonymyeon/backend/post/ui/PostController.java
  backend/src/test/java/edonymyeon/backend/repository/PostRepositoryTest.java
  backend/src/test/java/edonymyeon/backend/service/PostServiceTest.java
  backend/src/test/resources/dummydata.sql
Labels: ❤️ Backend, ⚡️ feature

#49 feat/#17 게시글 상세 페이지 뷰 및 추천/비추천 기능 구현
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/app/edonymyeon/mapper/.gitkeep
  android/app/src/main/java/com/app/edonymyeon/mapper/PostMapper.kt
  android/app/src/main/java/com/app/edonymyeon/mapper/ReactionMapper.kt
  android/app/src/main/java/com/app/edonymyeon/mapper/RecommendationMapper.kt
  android/app/src/main/java/com/app/edonymyeon/mapper/WriterMapper.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/common/customview/.gitkeep
  android/app/src/main/java/com/app/edonymyeon/presentation/common/customview/PostReactionView.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/auth/LoginActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/alarm/AlarmFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/category/CategoryFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/HomeFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/MyPageFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/search/SearchFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/PostUiModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/ReactionCountUiModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/RecommendationUiModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/WriterUiModel.kt
  android/app/src/main/res/drawable/bg_reaction_progress.xml
  android/app/src/main/res/drawable/btn_down_selected.xml
  android/app/src/main/res/drawable/btn_down_unselected.xml
  android/app/src/main/res/drawable/btn_scrap_selected.xml
  android/app/src/main/res/drawable/btn_scrap_unselected.xml
  android/app/src/main/res/drawable/btn_up_selected.xml
  android/app/src/main/res/drawable/btn_up_unselected.xml
  android/app/src/main/res/drawable/ic_comment_count.xml
  android/app/src/main/res/drawable/ic_scrap_count.xml
  android/app/src/main/res/drawable/ic_view_count.xml
  android/app/src/main/res/drawable/selector_cb_reaction_down.xml
  android/app/src/main/res/drawable/selector_cb_reaction_up.xml
  android/app/src/main/res/drawable/selector_cb_scrap.xml
  android/app/src/main/res/layout/activity_post_detail.xml
  android/app/src/main/res/layout/view_post_reaction.xml
  android/app/src/main/res/menu/menu_post_detail.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/domain/build.gradle.kts
  android/domain/src/main/java/com/domain/edonymyeon/.gitkeep
  android/domain/src/main/java/com/domain/edonymyeon/model/Count.kt
  android/domain/src/main/java/com/domain/edonymyeon/model/Post.kt
  android/domain/src/main/java/com/domain/edonymyeon/model/ReactionCount.kt
  android/domain/src/main/java/com/domain/edonymyeon/model/Recommendation.kt
  android/domain/src/main/java/com/domain/edonymyeon/model/Writer.kt
  android/domain/src/test/kotlin/com/domain/edonymyeon/model/CountTest.kt
  android/domain/src/test/kotlin/com/domain/edonymyeon/model/RecommendationTest.kt
Labels: 💚 Android, 中, ⚡️ feature

#60 feat/#13 게시글 추천 기능구현
  backend/src/main/java/edonymyeon/backend/global/exception/ExceptionInformation.java
  backend/src/main/java/edonymyeon/backend/thumbs/application/ThumbsService.java
  backend/src/main/java/edonymyeon/backend/thumbs/domain/Thumbs.java
  backend/src/main/java/edonymyeon/backend/thumbs/domain/ThumbsType.java
  backend/src/main/java/edonymyeon/backend/thumbs/repository/ThumbsRepository.java
  backend/src/main/java/edonymyeon/backend/thumbs/ui/ThumbsController.java
  backend/src/test/java/edonymyeon/backend/thumbs/application/ThumbsServiceTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/integration/ThumbsUpIntegrationTest.java
Labels: ❤️ Backend, ⚡️ feature

#57 Feat/#4 메인화면 전체 게시글
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/HomeFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/HomeViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/adapter/AllPostAdapter.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/viewholder/AllPostViewHolder.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/AllPostItemUiModel.kt
  android/app/src/main/res/drawable/bg_ffffff_radius_10dp.xml
  android/app/src/main/res/drawable/ic_all_post_more.xml
  android/app/src/main/res/drawable/ic_hot_post_more.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/layout/item_all_post.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
Labels: 💚 Android, 中

#65 Feat/#58 게시글 상세조회시 필요한 게시글에대한 추천수와 추천여부 조회기능 구현
  backend/src/main/java/edonymyeon/backend/thumbs/application/ThumbsService.java
  backend/src/main/java/edonymyeon/backend/thumbs/domain/AllThumbsInPost.java
  backend/src/main/java/edonymyeon/backend/thumbs/domain/Thumbs.java
  backend/src/main/java/edonymyeon/backend/thumbs/dto/AllThumbsInPostResponse.java
  backend/src/main/java/edonymyeon/backend/thumbs/dto/ThumbsStatusInPostResponse.java
  backend/src/main/java/edonymyeon/backend/thumbs/repository/ThumbsRepository.java
  backend/src/test/java/edonymyeon/backend/thumbs/application/ThumbsInPostServiceTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/application/ThumbsUpServiceTest.java
Labels: ❤️ Backend

#67 Feat/#15 회원 정보 조회 구현
  backend/src/main/java/edonymyeon/backend/auth/application/AuthService.java
  backend/src/main/java/edonymyeon/backend/global/controlleradvice/GlobalExceptionHandler.java
  backend/src/main/java/edonymyeon/backend/global/exception/ExceptionInformation.java
  backend/src/main/java/edonymyeon/backend/image/postimage/ProfileImageInfo.java
  backend/src/main/java/edonymyeon/backend/image/postimage/repository/ProfileImageInfoRepository.java
  backend/src/main/java/edonymyeon/backend/member/application/MemberService.java
  backend/src/main/java/edonymyeon/backend/member/application/dto/MyPageResponse.java
  backend/src/main/java/edonymyeon/backend/member/domain/Member.java
  backend/src/main/java/edonymyeon/backend/member/ui/MemberController.java
  backend/src/test/java/edonymyeon/backend/IntegrationTest.java
  backend/src/test/java/edonymyeon/backend/controller/PostControllerTest.java
  backend/src/test/java/edonymyeon/backend/member/MemberIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/member/domain/MemberTest.java
  backend/src/test/java/edonymyeon/backend/repository/PostRepositoryTest.java
  backend/src/test/java/edonymyeon/backend/service/PostServiceTest.java
  backend/src/test/java/edonymyeon/backend/support/MemberTestSupport.java
  backend/src/test/java/edonymyeon/backend/support/ProfileImageInfoTestSupport.java
  backend/src/test/java/edonymyeon/backend/thumbs/application/ThumbsInPostServiceTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/application/ThumbsUpServiceTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/integration/ThumbsUpIntegrationTest.java
  backend/src/test/resources/dummydata.sql
Labels: ❤️ Backend, ⚡️ feature

#70 refactor: 닉네임 제한 20자까지로 수정
  backend/src/main/java/edonymyeon/backend/member/domain/Member.java
  backend/src/test/java/edonymyeon/backend/member/domain/MemberTest.java
Labels: ❤️ Backend, 🛠️ refactor

#59 Feat/#12 게시글 삭제 기능 구현
  backend/src/main/java/edonymyeon/backend/auth/application/AuthService.java
  backend/src/main/java/edonymyeon/backend/global/controlleradvice/GlobalExceptionHandler.java
  backend/src/main/java/edonymyeon/backend/global/exception/ExceptionInformation.java
  backend/src/main/java/edonymyeon/backend/image/ImageFileUploader.java
  backend/src/main/java/edonymyeon/backend/image/postimage/PostImageInfoRepository.java
  backend/src/main/java/edonymyeon/backend/member/domain/Member.java
  backend/src/main/java/edonymyeon/backend/post/application/PostService.java
  backend/src/main/java/edonymyeon/backend/post/domain/Post.java
  backend/src/main/java/edonymyeon/backend/post/ui/PostController.java
  backend/src/test/java/edonymyeon/backend/TestConfig.java
  backend/src/test/java/edonymyeon/backend/controller/PostControllerTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/ui/PostControllerTest.java
  backend/src/test/java/edonymyeon/backend/service/PostServiceTest.java
  backend/src/test/resources/truncate.sql
Labels: ❤️ Backend, ⚡️ feature

#72 refactor: 테스트용 회원 객체 기본값 수정
  backend/src/test/java/edonymyeon/backend/support/MemberTestSupport.java
Labels: ❤️ Backend, 🛠️ refactor

#51 Feat/#18 게시글 작성,수정 페이지 구현
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/PostEditorActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/PostEditorViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/adapter/ImageDiffUtilCallback.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/adapter/PostEditorImagesAdapter.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/viewholder/PostEditorImagesViewHolder.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/util/CustomBindingAdapter.kt
  android/app/src/main/res/drawable/btn_back_white.xml
  android/app/src/main/res/drawable/btn_camera.xml
  android/app/src/main/res/drawable/btn_delete.xml
  android/app/src/main/res/drawable/btn_gallery.xml
  android/app/src/main/res/drawable/selector_bottom_nav_icon_tint.xml
  android/app/src/main/res/layout/activity_post_editor.xml
  android/app/src/main/res/layout/item_post_editor_image.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
Labels: 💚 Android, 中, ⚡️ feature

#78 Feat 63 retrofit client
  android/app/src/main/java/com/app/edonymyeon/data/common/CustomThrowable.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/post/PostDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/post/PostRemoteDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/response/PostDetailResponse.kt
  android/app/src/main/java/com/app/edonymyeon/data/repository/.gitkeep
  android/app/src/main/java/com/app/edonymyeon/data/repository/PostRepositoryImpl.kt
  android/app/src/main/java/com/app/edonymyeon/data/service/.gitkeep
  android/app/src/main/java/com/app/edonymyeon/data/service/PostService.kt
  android/app/src/main/java/com/app/edonymyeon/data/service/client/.gitkeep
  android/app/src/main/java/com/app/edonymyeon/data/service/client/AccessTokenInterceptor.kt
  android/app/src/main/java/com/app/edonymyeon/data/service/client/OkHttpClient.kt
  android/app/src/main/java/com/app/edonymyeon/data/service/client/RetrofitClient.kt
  android/app/src/main/java/com/app/edonymyeon/mapper/PostMapper.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailViewModelFactory.kt
  android/domain/src/main/java/com/domain/edonymyeon/repository/.gitkeep
  android/domain/src/main/java/com/domain/edonymyeon/repository/PostRepository.kt
Labels: 💚 Android, 🚨 上, ⚡️ feature

#74 Feat: 마이 페이지 뷰 구현
  android/app/src/main/res/drawable/bg_ffffff_radius_15.xml
  android/app/src/main/res/drawable/bg_ffffff_radius_bottom_15.xml
  android/app/src/main/res/drawable/bg_stroke_576b9e_oval.xml
  android/app/src/main/res/drawable/ic_my_page_badge.xml
  android/app/src/main/res/drawable/ic_my_page_comment.xml
  android/app/src/main/res/drawable/ic_my_page_post.xml
  android/app/src/main/res/drawable/ic_my_page_scrab.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
Labels: 💚 Android, ⚡️ feature

#68 Feat/#9 게시글 전체 조회 기능
  android/app/src/main/res/values/strings.xml
  backend/src/main/java/edonymyeon/backend/post/application/PostService.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/GeneralFindingCondition.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/GeneralPostInfoResponse.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/GeneralPostsResponse.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/ReactionCountResponse.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/SortBy.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/SortDirection.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/WriterResponse.java
  backend/src/main/java/edonymyeon/backend/post/domain/Post.java
  backend/src/main/java/edonymyeon/backend/post/ui/PostController.java
  backend/src/test/java/edonymyeon/backend/TestConfig.java
  backend/src/test/java/edonymyeon/backend/repository/PostRepositoryTest.java
  backend/src/test/java/edonymyeon/backend/service/ImageFileNameMockStrategy.java
  backend/src/test/java/edonymyeon/backend/service/PostServiceFindingAllPostsTest.java
  backend/src/test/java/edonymyeon/backend/service/PostServiceTest.java
Labels: ❤️ Backend, ⚡️ feature

#81 Feat/#50 게시글 작성수정 추가기능
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/PostEditorActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/PostEditorViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/PostUiModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/ReactionCountUiModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/RecommendationUiModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/WriterUiModel.kt
  android/app/src/main/res/drawable/btn_post_save.xml
  android/app/src/main/res/layout/activity_post_editor.xml
  android/app/src/main/res/menu/menu_post_editor.xml
  android/app/src/main/res/values/strings.xml
Labels: 💚 Android, ⚡️ feature

#83 Feat/#8 상세 게시글 조회
  backend/src/main/java/edonymyeon/backend/auth/annotation/AuthPrincipal.java
  backend/src/main/java/edonymyeon/backend/auth/ui/argumentresolver/AuthArgumentResolver.java
  backend/src/main/java/edonymyeon/backend/post/application/PostService.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/SpecificPostInfoResponse.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/WriterDetailResponse.java
  backend/src/main/java/edonymyeon/backend/post/ui/PostController.java
  backend/src/main/java/edonymyeon/backend/thumbs/application/ThumbsService.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/service/PostFindingSpecificPostTest.java
  backend/src/test/java/edonymyeon/backend/service/PostServiceTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/application/ThumbsInPostServiceTest.java
Labels: ❤️ Backend, ⚡️ feature

#85 Feat/#77 사진 반환 기능
  backend/src/main/java/edonymyeon/backend/global/exception/ExceptionInformation.java
  backend/src/main/java/edonymyeon/backend/image/ImageExtension.java
  backend/src/main/java/edonymyeon/backend/image/ImageFileNameUUIDStrategy.java
  backend/src/main/java/edonymyeon/backend/image/ImageFileUploader.java
  backend/src/main/java/edonymyeon/backend/image/domain/ImageInfo.java
  backend/src/main/java/edonymyeon/backend/image/postimage/repository/PostImageInfoRepository.java
  backend/src/main/java/edonymyeon/backend/image/profileimage/domain/ProfileImageInfo.java
  backend/src/main/java/edonymyeon/backend/image/profileimage/repository/ProfileImageInfoRepository.java
  backend/src/main/java/edonymyeon/backend/image/ui/ImageController.java
  backend/src/main/java/edonymyeon/backend/member/domain/Member.java
  backend/src/main/java/edonymyeon/backend/post/application/PostService.java
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application-prod.properties
  backend/src/main/resources/application.properties
  backend/src/test/java/edonymyeon/backend/image/ImageExtensionTest.java
  backend/src/test/java/edonymyeon/backend/service/ImageFileNameMockStrategy.java
  backend/src/test/java/edonymyeon/backend/service/PostServiceTest.java
  backend/src/test/java/edonymyeon/backend/support/MemberTestSupport.java
  backend/src/test/java/edonymyeon/backend/support/ProfileImageInfoTestSupport.java
Labels: ❤️ Backend, 🚨 上, ⚡️ feature

#90 스프링 실행시 회원 더미 데이터 추가기능 구현
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/data.sql
Labels: ❤️ Backend, 🚨 上

#91 fix: 컴파일 오류 및 확장자 메소드 수정
  backend/src/main/java/edonymyeon/backend/image/ImageExtension.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/GeneralPostInfoResponse.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/SpecificPostInfoResponse.java
  backend/src/test/java/edonymyeon/backend/service/PostFindingSpecificPostTest.java
  backend/src/test/java/edonymyeon/backend/service/PostServiceFindingAllPostsTest.java
  backend/src/test/java/edonymyeon/backend/service/PostServiceTest.java
Labels: 🐞 bug, ❤️ Backend, 🚨 上

#84 Feat/#11 게시글 수정 기능 구현
  backend/src/main/java/edonymyeon/backend/global/exception/ExceptionInformation.java
  backend/src/main/java/edonymyeon/backend/post/application/PostService.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/GeneralPostInfoResponse.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/SpecificPostInfoResponse.java
  backend/src/main/java/edonymyeon/backend/post/domain/Post.java
  backend/src/main/java/edonymyeon/backend/post/ui/PostController.java
  backend/src/main/java/edonymyeon/backend/thumbs/application/ThumbsService.java
  backend/src/main/java/edonymyeon/backend/thumbs/ui/ThumbsController.java
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application-prod.properties
  backend/src/main/resources/data.sql
  backend/src/test/java/edonymyeon/backend/TestConfig.java
  backend/src/test/java/edonymyeon/backend/post/application/ImageFileNameMockStrategy.java
  backend/src/test/java/edonymyeon/backend/post/application/PostFindingSpecificPostTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceFindingAllPostsTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/repository/PostRepositoryTest.java
  backend/src/test/java/edonymyeon/backend/service/PostServiceTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/application/ThumbsDownServiceTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/application/ThumbsUpServiceTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/domain/AllThumbsInPostTest.java
  backend/src/test/resources/application.properties
  backend/src/test/resources/truncate.sql
Labels: ❤️ Backend, ⚡️ feature

#75 feat/#46 게시글 상세 이미지 슬라이더
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/adapter/ImageSliderAdapter.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/viewholder/ImageSliderViewHolder.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/util/.gitkeep
  android/app/src/main/java/com/app/edonymyeon/presentation/util/CustomBindingAdapter.kt
  android/app/src/main/res/drawable/ic_indicator_focus_off.xml
  android/app/src/main/res/drawable/ic_indicator_focus_on.xml
  android/app/src/main/res/layout/activity_post_detail.xml
  android/app/src/main/res/layout/item_image_slider.xml
  android/app/src/main/res/layout/item_post_editor_image.xml
Labels: 💚 Android, 中, ⚡️ feature

#94 Fix/#27 테스트 정상화
  backend/src/main/java/edonymyeon/backend/image/ImageFileUploader.java
  backend/src/main/java/edonymyeon/backend/image/domain/ImageInfo.java
  backend/src/main/java/edonymyeon/backend/image/postimage/domain/PostImageInfo.java
  backend/src/main/java/edonymyeon/backend/image/profileimage/domain/ProfileImageInfo.java
  backend/src/main/java/edonymyeon/backend/post/application/PostService.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/SpecificPostInfoResponse.java
  backend/src/test/java/edonymyeon/backend/post/application/PostFindingSpecificPostTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceFindingAllPostsTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/service/PostServiceTest.java
  backend/src/test/java/edonymyeon/backend/support/ProfileImageInfoTestSupport.java
  backend/src/test/resources/application.properties
Labels: 🐞 bug, ❤️ Backend, 🚨 上

#97 fix: 작성자의 프로필 사진이 없더라도 NPE가 발생하지 않도록 버그 수정
  backend/src/main/java/edonymyeon/backend/post/application/PostService.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceTest.java
Labels: 🐞 bug, ❤️ Backend

#95 Feat/#47 로그인 여부에 따른 화면 및 이벤트
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/app/edonymyeon/data/dto/.gitkeep
  android/app/src/main/java/com/app/edonymyeon/data/dto/ReactionCountDataModel.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/WriterDataModel.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/response/.gitkeep
  android/app/src/main/java/com/app/edonymyeon/data/dto/response/PostDetailResponse.kt
  android/app/src/main/java/com/app/edonymyeon/data/service/client/RetrofitClient.kt
  android/app/src/main/java/com/app/edonymyeon/mapper/PostMapper.kt
  android/app/src/main/java/com/app/edonymyeon/mapper/ReactionMapper.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailViewModelFactory.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/dialog/DeleteDialog.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/WriterUiModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/util/CustomBindingAdapter.kt
  android/app/src/main/res/drawable/bg_ffffff_radius_20dp.xml
  android/app/src/main/res/layout/activity_post_detail.xml
  android/app/src/main/res/layout/dialog_confirm_delete_post.xml
  android/app/src/main/res/values/strings.xml
  android/domain/src/main/java/com/domain/edonymyeon/model/ReactionCount.kt
  android/domain/src/main/java/com/domain/edonymyeon/model/Writer.kt
Labels: 💚 Android, 中, ⚡️ feature

#92 Feat/#36 게시글 작성, 수정 페이지 서버연동
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/app/edonymyeon/data/datasource/post/PostDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/post/PostRemoteDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/request/.gitkeep
  android/app/src/main/java/com/app/edonymyeon/data/dto/request/PostEditorResponse.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/response/PostDetailResponse.kt
  android/app/src/main/java/com/app/edonymyeon/data/repository/PostRepositoryImpl.kt
  android/app/src/main/java/com/app/edonymyeon/data/service/PostService.kt
  android/app/src/main/java/com/app/edonymyeon/data/service/client/OkHttpClient.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/PostEditorActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/PostEditorViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/PostEditorViewModelFactory.kt
  android/domain/src/main/java/com/domain/edonymyeon/repository/PostRepository.kt
Labels: 💚 Android, 中, ⚡️ feature

#101 fix: 게시글과 추천의 연관관계 때문에 게시글이 삭제가 되지 않는 오류 수정
  backend/src/main/java/edonymyeon/backend/post/application/PostService.java
  backend/src/main/java/edonymyeon/backend/thumbs/application/ThumbsService.java
  backend/src/main/java/edonymyeon/backend/thumbs/repository/ThumbsRepository.java
Labels: 🐞 bug, 🚨 上

#103 Feat/#35 인텐트 연결
  android/app/src/main/java/com/app/edonymyeon/data/datasource/post/PostRemoteDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/HomeFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/HomeViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/adapter/AllPostAdapter.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/post/PostActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/PostEditorActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/PostEditorViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/adapter/PostEditorImagesAdapter.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/AllPostItemUiModel.kt
  android/app/src/main/res/layout/activity_post.xml
Labels: 💚 Android, ⚡️ feature

#107 Feat/#106 게시글 작성, 수정할 때 개수 제한 및 테스트 후 이미지 삭제 기능 구현
  backend/src/main/java/edonymyeon/backend/global/exception/ExceptionInformation.java
  backend/src/main/java/edonymyeon/backend/image/ImageFileUploader.java
  backend/src/main/java/edonymyeon/backend/image/postimage/domain/PostImageInfos.java
  backend/src/main/java/edonymyeon/backend/post/application/PostService.java
  backend/src/main/java/edonymyeon/backend/post/domain/Post.java
  backend/src/test/java/edonymyeon/backend/post/ImageFileCleaner.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceFindingAllPostsTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/ui/PostControllerTest.java
Labels: ❤️ Backend, ⚡️ feature

#141 feat:#140_Android_Github_actions
  .github/workflows/android-ci-workflow.yml
Labels: 📋 docs, 💚 Android

#147 Refactor/#146 lint 네이밍 수정
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/app/edonymyeon/data/dto/ReactionCountDataModel.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/response/Posts.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/HomeFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/HomeViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/adapter/AllPostAdapter.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/viewholder/AllPostViewHolder.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/post/PostViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/post/PostViewModelFactory.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/post/adapter/PostAdapter.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/post/viewholder/PostViewHolder.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/PostEditorActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/AllPostItemUiModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/util/IntentExtension.kt
  android/app/src/main/res/drawable/bg_ffffff_radius_bottom_15.xml
  android/app/src/main/res/drawable/btn_back_black.xml
  android/app/src/main/res/drawable/btn_back_white.xml
  android/app/src/main/res/drawable/btn_camera.xml
  android/app/src/main/res/drawable/btn_delete.xml
  android/app/src/main/res/drawable/btn_down_selected.xml
  android/app/src/main/res/drawable/btn_down_unselected.xml
  android/app/src/main/res/drawable/btn_gallery.xml
  android/app/src/main/res/drawable/btn_post_save.xml
  android/app/src/main/res/drawable/btn_scrap_selected.xml
  android/app/src/main/res/drawable/btn_scrap_unselected.xml
  android/app/src/main/res/drawable/btn_up_selected.xml
  android/app/src/main/res/drawable/btn_up_unselected.xml
  android/app/src/main/res/drawable/ic_all_post_more.xml
  android/app/src/main/res/drawable/ic_bottom_nav_alarm.xml
  android/app/src/main/res/drawable/ic_bottom_nav_category.xml
  android/app/src/main/res/drawable/ic_bottom_nav_home.xml
  android/app/src/main/res/drawable/ic_bottom_nav_my_page.xml
  android/app/src/main/res/drawable/ic_bottom_nav_search.xml
  android/app/src/main/res/drawable/ic_comment_count.xml
  android/app/src/main/res/drawable/ic_hot_post_more.xml
  android/app/src/main/res/drawable/ic_indicator_focus_off.xml
  android/app/src/main/res/drawable/ic_indicator_focus_on.xml
  android/app/src/main/res/drawable/ic_my_page_badge.xml
  android/app/src/main/res/drawable/ic_my_page_comment.xml
  android/app/src/main/res/drawable/ic_my_page_post.xml
  android/app/src/main/res/drawable/ic_my_page_scrab.xml
  android/app/src/main/res/drawable/ic_post_filter_open.xml
  android/app/src/main/res/drawable/ic_scrap_count.xml
  android/app/src/main/res/drawable/ic_view_count.xml
  android/app/src/main/res/drawable/selector_cb_reaction_down.xml
  android/app/src/main/res/drawable/selector_cb_reaction_up.xml
  android/app/src/main/res/layout/activity_post.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/fragment_search.xml
  android/app/src/main/res/layout/item_post.xml
  android/app/src/main/res/menu/menu_post_editor.xml
  android/app/src/main/res/values-night/themes.xml
Labels: 💚 Android, 🚨 上, 🛠️ refactor

#117 refactor/#105 페이징 트러블슈팅
  backend/src/main/java/edonymyeon/backend/global/config/WebMvcConfiguration.java
  backend/src/main/java/edonymyeon/backend/global/exception/ExceptionInformation.java
  backend/src/main/java/edonymyeon/backend/image/postimage/domain/PostImageInfos.java
  backend/src/main/java/edonymyeon/backend/post/application/PostService.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/GeneralFindingCondition.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/SortBy.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/SortDirection.java
  backend/src/main/java/edonymyeon/backend/post/domain/Post.java
  backend/src/main/java/edonymyeon/backend/post/repository/PostRepository.java
  backend/src/main/java/edonymyeon/backend/post/ui/PostController.java
  backend/src/main/java/edonymyeon/backend/post/ui/annotation/PostPaging.java
  backend/src/main/java/edonymyeon/backend/post/ui/argumentresolver/PostPagingArgumentResolver.java
  backend/src/test/java/edonymyeon/backend/IntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceFindingAllPostsTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/support/PostImageInfoTestSupport.java
  backend/src/test/java/edonymyeon/backend/support/PostIntegrationTestSupport.java
  backend/src/test/java/edonymyeon/backend/support/PostTestSupport.java
Labels: 🐞 bug, ❤️ Backend

#151 Feat/#136 마이페이지 디자인
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/MainActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/category/CategoryFragment.kt
  android/app/src/main/res/drawable/bg_576b9e_radius_15dp.xml
  android/app/src/main/res/layout/activity_post_detail.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/menu/bottom_menu.xml
  android/app/src/main/res/values/strings.xml
Labels: 💚 Android, ⚡️ feature

#149 Feat/#133 회원 가입 기능 구현
  backend/src/main/java/edonymyeon/backend/auth/application/AuthService.java
  backend/src/main/java/edonymyeon/backend/auth/application/ValidateType.java
  backend/src/main/java/edonymyeon/backend/auth/application/dto/DuplicateCheckResponse.java
  backend/src/main/java/edonymyeon/backend/auth/application/dto/JoinRequest.java
  backend/src/main/java/edonymyeon/backend/auth/ui/AuthController.java
  backend/src/main/java/edonymyeon/backend/global/exception/ExceptionInformation.java
  backend/src/main/java/edonymyeon/backend/member/domain/Member.java
  backend/src/main/java/edonymyeon/backend/member/domain/PasswordValidator.java
  backend/src/main/java/edonymyeon/backend/member/repository/MemberRepository.java
  backend/src/test/java/edonymyeon/backend/auth/AuthIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/member/MemberIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/member/domain/MemberTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/repository/PostRepositoryTest.java
  backend/src/test/java/edonymyeon/backend/post/ui/PostControllerTest.java
  backend/src/test/java/edonymyeon/backend/support/MemberTestSupport.java
  backend/src/test/java/edonymyeon/backend/thumbs/domain/AllThumbsInPostTest.java
Labels: ❤️ Backend, ⚡️ feature

#150 Feat/#139 검색 게시글 전체조회, 페이징 처리
  backend/src/main/java/edonymyeon/backend/global/controlleradvice/GlobalExceptionHandler.java
  backend/src/main/java/edonymyeon/backend/global/exception/ExceptionInformation.java
  backend/src/main/java/edonymyeon/backend/post/application/PostService.java
  backend/src/main/java/edonymyeon/backend/post/repository/PostRepository.java
  backend/src/main/java/edonymyeon/backend/post/repository/PostSpecification.java
  backend/src/main/java/edonymyeon/backend/post/ui/ReadPostController.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceSearchPostsTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostSearchIntegrationTest.java
Labels: ❤️ Backend, ⚡️ feature

#166 feat: prod 환경에서 mysql을 사용하도록 설정
  backend/build.gradle
  backend/src/main/resources/application-prod.properties
Labels: ❤️ Backend, 🚨 上, ⚡️ feature
