Repository woowacourse-teams/2023-edonymyeon, pull requests merged in 2023-08, with the labels that each got.

#153 Feat/#119 로깅
  backend/.gitignore
  backend/build.gradle
  backend/logs/json-logFile.log
  backend/src/main/java/edonymyeon/backend/global/config/WebMvcConfiguration.java
  backend/src/main/java/edonymyeon/backend/global/logging/LoggingFilter.java
  backend/src/main/java/edonymyeon/backend/global/logging/LoggingInterceptor.java
  backend/src/main/resources/console-error-appender.xml
  backend/src/main/resources/console-info-appender.xml
  backend/src/main/resources/console-warn-appender.xml
  backend/src/main/resources/logback.xml
Labels: 📋 docs, ❤️ Backend, ⚡️ feature

#170 Fix/#168 로그인 시, 쿠키 등록하도록 수정
  backend/src/main/java/edonymyeon/backend/auth/ui/AuthController.java
  backend/src/test/java/edonymyeon/backend/auth/AuthIntegrationTest.java
Labels: ❤️ Backend

#177 Refactor/#176 로그인 로직 수정
  backend/src/main/java/edonymyeon/backend/auth/application/AuthService.java
  backend/src/main/java/edonymyeon/backend/global/exception/ExceptionInformation.java
  backend/src/main/java/edonymyeon/backend/member/domain/Member.java
  backend/src/main/java/edonymyeon/backend/member/repository/MemberRepository.java
  backend/src/main/resources/application-prod.properties
Labels: ❤️ Backend

#164 Feat/#130 구매확정, 절약확정 기능 구현 및 확정 취소 기능 구현
  backend/src/main/java/edonymyeon/backend/consumption/application/ConsumptionConfirmServiceImpl.java
  backend/src/main/java/edonymyeon/backend/consumption/domain/Consumption.java
  backend/src/main/java/edonymyeon/backend/consumption/domain/ConsumptionType.java
  backend/src/main/java/edonymyeon/backend/consumption/repository/ConsumptionRepository.java
  backend/src/main/java/edonymyeon/backend/global/controlleradvice/GlobalExceptionHandler.java
  backend/src/main/java/edonymyeon/backend/global/exception/ExceptionInformation.java
  backend/src/main/java/edonymyeon/backend/member/application/ConsumptionConfirmService.java
  backend/src/main/java/edonymyeon/backend/member/application/MemberService.java
  backend/src/main/java/edonymyeon/backend/member/application/dto/YearMonthDto.java
  backend/src/main/java/edonymyeon/backend/member/application/dto/request/PurchaseConfirmRequest.java
  backend/src/main/java/edonymyeon/backend/member/application/dto/request/SavingConfirmRequest.java
  backend/src/main/java/edonymyeon/backend/member/domain/Member.java
  backend/src/main/java/edonymyeon/backend/member/ui/MemberController.java
  backend/src/main/java/edonymyeon/backend/post/application/PostService.java
  backend/src/main/java/edonymyeon/backend/post/domain/Post.java
  backend/src/main/java/edonymyeon/backend/post/ui/PostController.java
  backend/src/main/java/edonymyeon/backend/post/ui/annotation/PostPaging.java
  backend/src/test/java/edonymyeon/backend/consumption/application/ConsumptionConfirmServiceImplTest.java
  backend/src/test/java/edonymyeon/backend/consumption/domain/ConsumptionTest.java
  backend/src/test/java/edonymyeon/backend/member/integration/MemberConsumptionIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/member/integration/steps/MemberConsumptionSteps.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/ui/PostControllerTest.java
Labels: ❤️ Backend, ⚡️ feature

#178 Fix/#175 로깅 버그
  backend/logs/json-logFile.log
  backend/src/main/resources/logback.xml
Labels: 🐞 bug, ❤️ Backend

#183 fix: transactional 어노테이션 빠뜨린 것 추가
  backend/src/main/java/edonymyeon/backend/member/application/MemberService.java
Labels: 🐞 bug, ❤️ Backend, 🚨 上

#162 Feat/#114 이벤트 더블클릭 방지
  android/app/build.gradle.kts
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailViewModelFactory.kt
  android/app/src/test/java/com/app/edonymyeon/ExampleUnitTest.kt
  android/app/src/test/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailViewModelTest.kt
Labels: 💚 Android, ⚡️ feature

#185 refactor: 게시글 등록 조건 수정
  backend/src/main/java/edonymyeon/backend/global/exception/ExceptionInformation.java
  backend/src/main/java/edonymyeon/backend/post/domain/Post.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostIntegrationTest.java
Labels: ❤️ Backend, 🛠️ refactor

#157 Fix/#110 게시글 수정 페이지 오류
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/app/edonymyeon/data/datasource/post/PostDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/post/PostRemoteDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/response/PostEditorResponse.kt
  android/app/src/main/java/com/app/edonymyeon/data/repository/PostRepositoryImpl.kt
  android/app/src/main/java/com/app/edonymyeon/data/service/PostService.kt
  android/app/src/main/java/com/app/edonymyeon/data/service/client/AccessTokenInterceptor.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/PostEditorActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/PostEditorViewModel.kt
  android/app/src/main/res/values/themes.xml
Labels: 🐞 bug, 💚 Android

#160 Feat/#128 내가쓴글 페이지 뷰 구현
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/mypost/MyPostActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/mypost/adapter/MyPostAdapter.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/mypost/adapter/MyPostDiffUtilCallback.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/mypost/dialog/ConsumptionDialog.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/mypost/listener/MyPostClickListener.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/mypost/viewholder/MyPostViewHolder.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/ConsumptionUiModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/MyPostUiModel.kt
  android/app/src/main/res/drawable/bg_434343_radius_10dp.xml
  android/app/src/main/res/drawable/bg_576b8e_radius_10dp.xml
  android/app/src/main/res/drawable/bg_d9d9d9_radius_10dp.xml
  android/app/src/main/res/layout/activity_my_post.xml
  android/app/src/main/res/layout/dialog_input_consumption.xml
  android/app/src/main/res/layout/item_my_post.xml
  android/app/src/main/res/layout/view_my_post_comsumption.xml
  android/app/src/main/res/layout/view_my_post_consumption_cancel.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
Labels: 💚 Android, ⚡️ feature

#186 Feat/#173 조회수 기록
  backend/src/main/java/edonymyeon/backend/auth/application/AuthService.java
  backend/src/main/java/edonymyeon/backend/auth/ui/argumentresolver/AuthArgumentResolver.java
  backend/src/main/java/edonymyeon/backend/consumption/application/ConsumptionConfirmServiceImpl.java
  backend/src/main/java/edonymyeon/backend/member/application/ConsumptionConfirmService.java
  backend/src/main/java/edonymyeon/backend/member/application/MemberService.java
  backend/src/main/java/edonymyeon/backend/member/application/dto/ActiveMemberId.java
  backend/src/main/java/edonymyeon/backend/member/application/dto/AnonymousMemberId.java
  backend/src/main/java/edonymyeon/backend/member/application/dto/MemberId.java
  backend/src/main/java/edonymyeon/backend/member/application/dto/MemberIdDto.java
  backend/src/main/java/edonymyeon/backend/member/ui/MemberController.java
  backend/src/main/java/edonymyeon/backend/post/application/PostService.java
  backend/src/main/java/edonymyeon/backend/post/domain/Post.java
  backend/src/main/java/edonymyeon/backend/post/ui/PostController.java
  backend/src/main/java/edonymyeon/backend/thumbs/application/ThumbsService.java
  backend/src/main/java/edonymyeon/backend/thumbs/ui/ThumbsController.java
  backend/src/test/java/edonymyeon/backend/consumption/application/ConsumptionConfirmServiceImplTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostFindingSpecificPostTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceFindingAllPostsTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostViewTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostViewIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/application/DeleteThumbsServiceTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/application/ThumbsDownServiceTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/application/ThumbsInPostServiceTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/application/ThumbsUpServiceTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/integration/ThumbsIntegrationTest.java
Labels: ❤️ Backend, ⚡️ feature

#171 Feat/#135 그래프
  android/app/build.gradle.kts
  android/app/src/main/java/com/app/edonymyeon/mapper/ConsumptionAmountsMapper.kt
  android/app/src/main/java/com/app/edonymyeon/mapper/ConsumptionStatisticsMapper.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/MyPageFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/MyPageViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/chart/LineChartManager.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/ConsumptionAmountUiModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/ConsumptionStatisticsUiModel.kt
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/item_chart_marker.xml
  android/app/src/main/res/values/strings.xml
  android/domain/src/main/java/com/domain/edonymyeon/model/ConsumptionAmount.kt
  android/domain/src/main/java/com/domain/edonymyeon/model/ConsumptionStatistics.kt
  android/domain/src/main/java/com/domain/edonymyeon/model/MonthRange.kt
  android/domain/src/test/kotlin/com/domain/edonymyeon/model/MonthRangeTest.kt
  android/settings.gradle.kts
Labels: 💚 Android, ⚡️ feature

#189 Refactor/#161 검색 기능 개선
  backend/.gitignore
  backend/src/main/java/edonymyeon/backend/post/application/PostReadService.java
  backend/src/main/java/edonymyeon/backend/post/application/PostService.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/GeneralPostsResponse.java
  backend/src/main/java/edonymyeon/backend/post/repository/PostSpecification.java
  backend/src/main/java/edonymyeon/backend/post/ui/PostController.java
  backend/src/main/java/edonymyeon/backend/post/ui/PostReadController.java
  backend/src/main/java/edonymyeon/backend/post/ui/ReadPostController.java
  backend/src/test/java/edonymyeon/backend/post/application/PostFindingSpecificPostTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceFindingAllPostsTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceSearchPostsTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostViewTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostSearchIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostViewIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/repository/PostSpecificationTest.java
Labels: ❤️ Backend, 🛠️ refactor

#163 Feat/#159 로그인페이지 서버 연결
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/app/edonymyeon/data/datasource/.gitkeep
  android/app/src/main/java/com/app/edonymyeon/data/datasource/auth/AuthDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/auth/AuthLocalDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/auth/AuthRemoteDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/user/.gitkeep
  android/app/src/main/java/com/app/edonymyeon/data/dto/LoginDataModel.kt
  android/app/src/main/java/com/app/edonymyeon/data/repository/AuthRepositoryImpl.kt
  android/app/src/main/java/com/app/edonymyeon/data/service/AuthService.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/auth/LoginActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/login/LoginActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/login/LoginViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/login/LoginViewModelFactory.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/MainActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/LoginUiModel.kt
  android/app/src/main/res/drawable/ic_login_logo.xml
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/test/java/com/app/edonymyeon/presentation/ui/login/LoginViewModelTest.kt
  android/domain/src/main/java/com/domain/edonymyeon/repository/AuthRepository.kt
Labels: 💚 Android, 中, ⚡️ feature

#195 Feat/#187 로그 시각화
  backend/build.gradle
  backend/src/main/java/edonymyeon/backend/global/config/WebMvcConfiguration.java
  backend/src/main/java/edonymyeon/backend/global/exception/ExceptionInformation.java
  backend/src/main/java/edonymyeon/backend/logging/LoggingFilter.java
  backend/src/main/java/edonymyeon/backend/logging/LoggingInterceptor.java
  backend/src/main/java/edonymyeon/backend/logging/application/Log.java
  backend/src/main/java/edonymyeon/backend/logging/application/LogType.java
  backend/src/main/java/edonymyeon/backend/logging/application/LoggingFileReader.java
  backend/src/main/java/edonymyeon/backend/logging/application/LoggingService.java
  backend/src/main/java/edonymyeon/backend/logging/ui/LoggingController.java
  backend/src/main/java/edonymyeon/backend/logging/ui/dto/LoggingResponse.java
  backend/src/main/resources/console-error-appender.xml
  backend/src/main/resources/console-info-appender.xml
  backend/src/main/resources/console-warn-appender.xml
  backend/src/main/resources/logback.xml
  backend/src/main/resources/templates/log.html
  backend/src/test/java/edonymyeon/backend/logging/application/LoggingServiceTest.java
  backend/src/test/java/edonymyeon/backend/logging/application/info.log
Labels: ❤️ Backend, ⚡️ feature

#193 Feat/#123 내가 쓴 글 조회 기능 구현
  backend/src/main/java/edonymyeon/backend/auth/application/AuthService.java
  backend/src/main/java/edonymyeon/backend/consumption/application/MemberConsumptionServiceImpl.java
  backend/src/main/java/edonymyeon/backend/consumption/application/PostConsumptionServiceImpl.java
  backend/src/main/java/edonymyeon/backend/consumption/domain/Consumption.java
  backend/src/main/java/edonymyeon/backend/consumption/domain/ConsumptionType.java
  backend/src/main/java/edonymyeon/backend/consumption/repository/ConsumptionRepository.java
  backend/src/main/java/edonymyeon/backend/member/application/MemberConsumptionService.java
  backend/src/main/java/edonymyeon/backend/member/application/MemberService.java
  backend/src/main/java/edonymyeon/backend/member/application/dto/ActiveMemberId.java
  backend/src/main/java/edonymyeon/backend/member/application/dto/MemberId.java
  backend/src/main/java/edonymyeon/backend/member/application/dto/response/MyPageResponse.java
  backend/src/main/java/edonymyeon/backend/member/ui/MemberController.java
  backend/src/main/java/edonymyeon/backend/post/application/GeneralFindingCondition.java
  backend/src/main/java/edonymyeon/backend/post/application/MyPostService.java
  backend/src/main/java/edonymyeon/backend/post/application/PostConsumptionService.java
  backend/src/main/java/edonymyeon/backend/post/application/PostReadService.java
  backend/src/main/java/edonymyeon/backend/post/application/PostService.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/SpecificPostInfoResponse.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/response/MyPostResponse.java
  backend/src/main/java/edonymyeon/backend/post/application/dto/response/PostConsumptionResponse.java
  backend/src/main/java/edonymyeon/backend/post/domain/Post.java
  backend/src/main/java/edonymyeon/backend/post/repository/PostRepository.java
  backend/src/main/java/edonymyeon/backend/post/repository/PostSpecification.java
  backend/src/main/java/edonymyeon/backend/post/ui/MyPostController.java
  backend/src/main/java/edonymyeon/backend/post/ui/PostController.java
  backend/src/main/java/edonymyeon/backend/post/ui/PostReadController.java
  backend/src/main/java/edonymyeon/backend/post/ui/ReadPostController.java
  backend/src/main/java/edonymyeon/backend/post/ui/argumentresolver/PostPagingArgumentResolver.java
  backend/src/main/java/edonymyeon/backend/thumbs/application/PostThumbsServiceImpl.java
  backend/src/main/java/edonymyeon/backend/thumbs/application/ThumbsService.java
  backend/src/main/java/edonymyeon/backend/thumbs/ui/ThumbsController.java
  backend/src/main/resources/static/img/test_store/back-removebg-preview.png
  backend/src/test/java/edonymyeon/backend/IntegrationTest.java
  backend/src/test/java/edonymyeon/backend/consumption/application/MemberConsumptionServiceImplTest.java
  backend/src/test/java/edonymyeon/backend/consumption/repository/ConsumptionRepositoryTest.java
  backend/src/test/java/edonymyeon/backend/member/MemberIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/member/integration/steps/MemberConsumptionSteps.java
  backend/src/test/java/edonymyeon/backend/post/application/MyPostServiceTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostFindingSpecificPostTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceFindingAllPostsTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceSearchPostsTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostViewTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostSearchIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostViewIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/repository/PostSpecificationTest.java
  backend/src/test/java/edonymyeon/backend/support/ConsumptionTestSupport.java
  backend/src/test/java/edonymyeon/backend/thumbs/application/ThumbsInPostServiceTest.java
  backend/src/test/resources/application.properties
Labels: ❤️ Backend, ⚡️ feature

#197 Feat/#122 검색화면 구현
  android/app/src/main/java/com/app/edonymyeon/data/datasource/search/SearchDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/search/SearchRemoteDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/response/Posts.kt
  android/app/src/main/java/com/app/edonymyeon/data/repository/SearchRepositoryImpl.kt
  android/app/src/main/java/com/app/edonymyeon/data/service/SearchService.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/MyPageViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/search/SearchFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/search/SearchViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/search/SearchViewModelFactory.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/search/adapter/SearchAdapter.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/search/adapter/SearchDiffUtilCallback.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/search/viewholder/SearchViewHolder.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/mypost/MyPostActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/mypost/dialog/ConsumptionDialog.kt
  android/app/src/main/res/drawable/bg_576b9e_radius_bottom_10dp.xml
  android/app/src/main/res/drawable/bg_ffffff_radius_top_10dp.xml
  android/app/src/main/res/layout/fragment_search.xml
  android/app/src/main/res/layout/item_chart_marker.xml
  android/domain/src/main/java/com/domain/edonymyeon/model/Page.kt
  android/domain/src/main/java/com/domain/edonymyeon/model/PostItems.kt
  android/domain/src/main/java/com/domain/edonymyeon/repository/SearchRepository.kt
  android/domain/src/test/kotlin/com/domain/edonymyeon/model/PageTest.kt
Labels: 💚 Android, ⚡️ feature

#192 Feat/#134 한달, 여섯달간의 소비 금액을 확인하는 기능을 구현한다
  backend/src/main/java/edonymyeon/backend/consumption/application/ConsumptionService.java
  backend/src/main/java/edonymyeon/backend/consumption/application/PeriodMonth.java
  backend/src/main/java/edonymyeon/backend/consumption/application/dto/ConsumptionPriceResponse.java
  backend/src/main/java/edonymyeon/backend/consumption/application/dto/RecentConsumptionsResponse.java
  backend/src/main/java/edonymyeon/backend/consumption/domain/Consumption.java
  backend/src/main/java/edonymyeon/backend/consumption/domain/ConsumptionsPerMonth.java
  backend/src/main/java/edonymyeon/backend/consumption/repository/ConsumptionRepository.java
  backend/src/main/java/edonymyeon/backend/consumption/ui/ConsumptionController.java
  backend/src/main/java/edonymyeon/backend/global/controlleradvice/GlobalExceptionHandler.java
  backend/src/main/java/edonymyeon/backend/global/exception/BusinessLogicException.java
  backend/src/main/java/edonymyeon/backend/global/exception/ExceptionInformation.java
  backend/src/test/java/edonymyeon/backend/consumption/domain/ConsumptionsPerMonthTest.java
  backend/src/test/java/edonymyeon/backend/consumption/integration/ConsumptionIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/consumption/integration/steps/ConsumptionSteps.java
  backend/src/test/java/edonymyeon/backend/consumption/repository/ConsumptionRepositoryTest.java
Labels: ❤️ Backend, ⚡️ feature

#201 Fix/#199 내가 쓴 글 조회 반환 값 수정
  backend/src/main/java/edonymyeon/backend/consumption/application/PostConsumptionServiceImpl.java
  backend/src/test/java/edonymyeon/backend/post/application/MyPostServiceTest.java
Labels: 🐞 bug, ❤️ Backend, 🚨 上

#198 Feat/#138 마이페이지 api 연동
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/ic_edonymyeon-playstore.png
  android/app/src/main/java/com/app/edonymyeon/data/datasource/consumptions/ConsumptionsDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/consumptions/ConsumptionsRemoteDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/profile/ProfileDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/profile/ProfileRemoteDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/ConsumptionAmountDataModel.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/response/ConsumptionsResponse.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/response/ProfileResponse.kt
  android/app/src/main/java/com/app/edonymyeon/data/repository/ConsumptionsRepositoryImpl.kt
  android/app/src/main/java/com/app/edonymyeon/data/repository/ProfileRepositoryImpl.kt
  android/app/src/main/java/com/app/edonymyeon/data/service/ConsumptionsService.kt
  android/app/src/main/java/com/app/edonymyeon/data/service/PostService.kt
  android/app/src/main/java/com/app/edonymyeon/data/service/ProfileService.kt
  android/app/src/main/java/com/app/edonymyeon/mapper/ConsumptionAmountsMapper.kt
  android/app/src/main/java/com/app/edonymyeon/mapper/ConsumptionStatisticsMapper.kt
  android/app/src/main/java/com/app/edonymyeon/mapper/WriterMapper.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/MyPageFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/MyPageViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/MyPageViewModelFactory.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/chart/LineChartManager.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailViewModelFactory.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/util/CustomBindingAdapter.kt
  android/app/src/main/res/drawable/ic_edonymyeon_foreground.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_edonymyeon.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_edonymyeon_round.xml
  android/app/src/main/res/mipmap-hdpi/ic_edonymyeon.png
  android/app/src/main/res/mipmap-hdpi/ic_edonymyeon_round.png
  android/app/src/main/res/mipmap-mdpi/ic_edonymyeon.png
  android/app/src/main/res/mipmap-mdpi/ic_edonymyeon_round.png
  android/app/src/main/res/mipmap-xhdpi/ic_edonymyeon.png
  android/app/src/main/res/mipmap-xhdpi/ic_edonymyeon_round.png
  android/app/src/main/res/mipmap-xxhdpi/ic_edonymyeon.png
  android/app/src/main/res/mipmap-xxhdpi/ic_edonymyeon_round.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_edonymyeon.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_edonymyeon_round.png
  android/app/src/main/res/values/ic_edonymyeon_background.xml
  android/app/src/main/res/values/strings.xml
  android/domain/src/main/java/com/domain/edonymyeon/repository/ConsumptionsRepository.kt
  android/domain/src/main/java/com/domain/edonymyeon/repository/ProfileRepository.kt
Labels: 💚 Android, ⚡️ feature

#202 Feat/#137 로그인 여부 뷰
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/app/edonymyeon/application/EdonymyeonApplication.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/auth/AuthLocalDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/consumptions/ConsumptionsRemoteDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/post/PostRemoteDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/profile/ProfileRemoteDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/util/PreferenceUtil.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/MainActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/MyPageFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/MyPageViewModel.kt
  android/app/src/main/res/layout/fragment_my_page.xml
Labels: 💚 Android, ⚡️ feature

#191 refactor: 이미지 용량을 줄인다.
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/PostEditorActivity.kt
Labels: 💚 Android, ⚡️ feature

#245 Feat/#240 신고하기 API 🚨
  backend/src/main/java/edonymyeon/backend/global/exception/ExceptionInformation.java
  backend/src/main/java/edonymyeon/backend/logging/LoggingInterceptor.java
  backend/src/main/java/edonymyeon/backend/report/application/ReportRepository.java
  backend/src/main/java/edonymyeon/backend/report/application/ReportRequest.java
  backend/src/main/java/edonymyeon/backend/report/application/ReportService.java
  backend/src/main/java/edonymyeon/backend/report/domain/AbusingType.java
  backend/src/main/java/edonymyeon/backend/report/domain/Report.java
  backend/src/main/java/edonymyeon/backend/report/ui/ReportController.java
  backend/src/test/java/edonymyeon/backend/IntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostViewIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/report/ReportServiceTest.java
  backend/src/test/java/edonymyeon/backend/report/ui/ReportIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/support/PostIntegrationTestSupport.java
Labels: ❤️ Backend, ⚡️ feature

#247 Feat/#239 신고하기 기능추가
  android/app/build.gradle.kts
  android/app/src/main/java/com/app/edonymyeon/data/datasource/report/ReportDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/report/ReportRemoteDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/request/ReportRequest.kt
  android/app/src/main/java/com/app/edonymyeon/data/repository/ReportRepositoryImpl.kt
  android/app/src/main/java/com/app/edonymyeon/data/service/ReportService.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailViewModelFactory.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/dialog/ReportDialog.kt
  android/app/src/main/res/layout/dialog_report.xml
  android/app/src/main/res/menu/menu_post_detail.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/test/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailViewModelTest.kt
  android/domain/src/main/java/com/domain/edonymyeon/repository/ReportRepository.kt
Labels: 🐞 bug, 💚 Android, 🚨 上

#248 fix: 키보드가 EditText를 가리는 버그 수정
  android/app/src/main/AndroidManifest.xml
Labels: 🐞 bug, 💚 Android, 中

#244 fix: 재조회 버그 수정
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/post/PostActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/PostEditorActivity.kt
Labels: 🐞 bug, 💚 Android

#246 feat: EditText를 클릭해도 검색 가능하게 수정
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/search/SearchFragment.kt
Labels: 🐞 bug, 💚 Android, 中

#262 Docs/#118 api 명세서
  backend/build.gradle
  backend/src/docs/asciidoc/common/authentication-api.adoc
  backend/src/docs/asciidoc/common/mypage-api.adoc
  backend/src/docs/asciidoc/common/post-api.adoc
  backend/src/docs/asciidoc/common/report-api.adoc
  backend/src/docs/asciidoc/common/search-api.adoc
  backend/src/docs/asciidoc/common/thumbs-api.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/edonymyeon/backend/member/application/dto/MemberId.java
  backend/src/main/java/edonymyeon/backend/post/application/MyPostService.java
  backend/src/main/java/edonymyeon/backend/post/application/PostReadService.java
  backend/src/main/java/edonymyeon/backend/post/application/PostSlice.java
  backend/src/main/java/edonymyeon/backend/post/domain/Post.java
  backend/src/main/java/edonymyeon/backend/post/ui/MyPostController.java
  backend/src/main/java/edonymyeon/backend/post/ui/PostReadController.java
  backend/src/main/java/edonymyeon/backend/report/domain/AbusingType.java
  backend/src/test/java/edonymyeon/backend/DocsTest.java
  backend/src/test/java/edonymyeon/backend/auth/docs/AuthControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/consumption/docs/ConsumptionControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/member/docs/MemberControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceFindingAllPostsTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceSearchPostsTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/MyPostControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/PostControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/PostCreationDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/report/docs/ReportDocsTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/docs/ThumbsControllerDocsTest.java
  backend/src/test/resources/application.properties
Labels: 📋 docs, ❤️ Backend

#265 Fix/#213_수정페이지_금액입력_오류_수정
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/mypost/dialog/ConsumptionDialog.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/PostEditorActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/PostEditorViewModel.kt
  android/app/src/main/res/layout/activity_post_editor.xml
Labels: 🐞 bug, 💚 Android

#243 Feat/#236 로그인 여부 기능 접근
  android/app/src/main/java/com/app/edonymyeon/data/datasource/auth/AuthLocalDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/login/LoginActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/alarm/AlarmFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/HomeFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/MyPageFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/MyPageViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/chart/LineChartManager.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/search/SearchFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/mypost/MyPostActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/post/PostActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/post/PostViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/PostEditorActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/signup/SignUpActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/util/ActivityUtil.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/util/ViewUtil.kt
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/activity_my_post.xml
  android/app/src/main/res/layout/activity_post.xml
  android/app/src/main/res/layout/activity_sign_up.xml
  android/app/src/main/res/layout/dialog_confirm_delete_post.xml
  android/app/src/main/res/layout/fragment_alarm.xml
  android/app/src/main/res/layout/fragment_category.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/fragment_search.xml
  android/app/src/main/res/layout/item_all_post.xml
  android/app/src/main/res/layout/item_post.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
Labels: 💚 Android, 中, ⚡️ feature

#264 refactor/#216_가격표시방식_변경
  android/app/src/main/java/com/app/edonymyeon/presentation/util/CustomBindingAdapter.kt
  android/app/src/main/res/font/nanumsquare.ttf
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/layout/activity_post.xml
  android/app/src/main/res/layout/activity_post_detail.xml
  android/app/src/main/res/layout/activity_post_editor.xml
  android/app/src/main/res/layout/activity_sign_up.xml
  android/app/src/main/res/layout/dialog_input_consumption.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/fragment_preparing_page.xml
  android/app/src/main/res/layout/item_all_post.xml
  android/app/src/main/res/layout/item_chart_marker.xml
  android/app/src/main/res/layout/item_my_post.xml
  android/app/src/main/res/layout/item_post.xml
  android/app/src/main/res/layout/view_my_post_consumption_cancel.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
Labels: 💚 Android, 🛠️ refactor

#252 Feat/#227 핫게시글뷰 구현
  android/app/src/main/java/com/app/edonymyeon/presentation/common/diffutil/PostDiffUtilCallback.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/HomeFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/HomeViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/adapter/HotPostAdapter.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/viewholder/HotPostViewHolder.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/post/adapter/PostAdapter.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailActivity.kt
  android/app/src/main/res/drawable/ic_576b9e_indicator_focus_on.xml
  android/app/src/main/res/drawable/ic_bcc4d8_indicator_focus_off.xml
  android/app/src/main/res/drawable/ic_bfc3ce_indicator_focus_off.xml
  android/app/src/main/res/drawable/ic_ffffff_indicator_focus_on.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/layout/item_hot_post.xml
  android/app/src/main/res/values/strings.xml
Labels: 💚 Android, ⚡️ feature

#255 Feat/#254 홈페이지 전체게시글뷰 서버 연동
  android/app/src/main/java/com/app/edonymyeon/data/dto/response/MyPostsResponse.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/response/Posts.kt
  android/app/src/main/java/com/app/edonymyeon/mapper/PostItemMapper.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/HomeFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/HomeViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/HomeViewModelFactory.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/adapter/AllPostAdapter.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/adapter/AllPostDiffUtilCallback.kt
  android/app/src/main/res/drawable/ic_all_post_more.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/layout/item_all_post.xml
  android/app/src/main/res/layout/view_post_reaction.xml
  android/app/src/test/java/com/app/edonymyeon/presentation/ui/main/home/HomeViewModelTest.kt
Labels: 💚 Android, ⚡️ feature

#260 refactor/#256_날짜표시수정
  android/app/src/main/java/com/app/edonymyeon/mapper/MyPostMapper.kt
  android/app/src/main/java/com/app/edonymyeon/mapper/PostItemMapper.kt
  android/app/src/main/java/com/app/edonymyeon/mapper/PostMapper.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/HomeViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/mypost/MyPostViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/AllPostItemUiModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/DateUiModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/MyPostUiModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/PostItemUiModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/PostUiModel.kt
  android/app/src/main/res/layout/item_all_post.xml
  android/app/src/main/res/layout/item_my_post.xml
  android/domain/src/main/java/com/domain/edonymyeon/model/Date.kt
  android/domain/src/main/java/com/domain/edonymyeon/model/Time.kt
  android/domain/src/test/kotlin/com/domain/edonymyeon/model/DateTest.kt
Labels: 💚 Android, 🛠️ refactor

#251 refactor: 모든 도메인 객체에 생성일과 수정일 정보 추가
  backend/src/main/java/edonymyeon/backend/consumption/domain/Consumption.java
  backend/src/main/java/edonymyeon/backend/global/domain/TemporalRecord.java
  backend/src/main/java/edonymyeon/backend/image/domain/ImageInfo.java
  backend/src/main/java/edonymyeon/backend/member/domain/Member.java
  backend/src/main/java/edonymyeon/backend/post/domain/Post.java
  backend/src/main/java/edonymyeon/backend/report/domain/Report.java
  backend/src/main/java/edonymyeon/backend/thumbs/domain/Thumbs.java
  backend/src/test/java/edonymyeon/backend/post/docs/MyPostControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/PostControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/report/docs/ReportDocsTest.java
Labels: ❤️ Backend, 🛠️ refactor

#276 Refactor/#272 그래프 수정
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/MyPageFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/chart/LineChartManager.kt
  android/app/src/main/res/layout/item_chart_marker.xml
  android/app/src/main/res/values/strings.xml
Labels: 💚 Android, 中, 🛠️ refactor

#273 Feat/#266 회원탈퇴뷰 구현
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/MyPageFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/dialog/WithdrawDialog.kt
  android/app/src/main/res/layout/dialog_withdraw.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/values/strings.xml
Labels: 💚 Android, ⚡️ feature

#270 Refactor/#261 transactional 삭제
  backend/src/main/java/edonymyeon/backend/post/application/PostService.java
  backend/src/test/java/edonymyeon/backend/DocsTest.java
  backend/src/test/java/edonymyeon/backend/auth/AuthIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/auth/docs/AuthControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/consumption/application/MemberConsumptionServiceImplTest.java
  backend/src/test/java/edonymyeon/backend/consumption/docs/ConsumptionControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/consumption/integration/ConsumptionIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/consumption/repository/ConsumptionRepositoryTest.java
  backend/src/test/java/edonymyeon/backend/image/ImageFileSizeIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/member/MemberIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/member/docs/MemberControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/member/integration/MemberConsumptionIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostFindingSpecificPostTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceFindingAllPostsTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceSearchPostsTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceTest.java
  backend/src/test/java/edonymyeon/backend/post/application/PostViewTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/MyPostControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/PostControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/PostCreationDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/HotPostIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostSearchIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/PostViewIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/repository/PostRepositoryTest.java
  backend/src/test/java/edonymyeon/backend/post/repository/PostSpecificationTest.java
  backend/src/test/java/edonymyeon/backend/post/ui/PostControllerTest.java
  backend/src/test/java/edonymyeon/backend/report/ReportServiceTest.java
  backend/src/test/java/edonymyeon/backend/report/docs/ReportDocsTest.java
  backend/src/test/java/edonymyeon/backend/report/ui/ReportIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/support/DocsTest.java
  backend/src/test/java/edonymyeon/backend/support/IntegrationFixture.java
  backend/src/test/java/edonymyeon/backend/support/IntegrationTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/application/DeleteThumbsServiceTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/application/ThumbsDownServiceTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/application/ThumbsInPostServiceTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/application/ThumbsUpServiceTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/docs/ThumbsControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/thumbs/integration/ThumbsIntegrationTest.java
  backend/src/test/resources/truncate.sql
Labels: ❤️ Backend, 🛠️ refactor

#274 Refactor/#263 핫게시글을 캐싱한다
  backend/build.gradle
  backend/src/main/java/edonymyeon/backend/cache/application/BooleanTemplate.java
  backend/src/main/java/edonymyeon/backend/cache/application/LongTemplate.java
  backend/src/main/java/edonymyeon/backend/cache/application/PostCachingService.java
  backend/src/main/java/edonymyeon/backend/cache/application/dto/CachedPostResponse.java
  backend/src/main/java/edonymyeon/backend/cache/util/CacheKeyStrategy.java
  backend/src/main/java/edonymyeon/backend/cache/util/HotPostCachePolicy.java
  backend/src/main/java/edonymyeon/backend/cache/util/ProductCacheKeyStrategy.java
  backend/src/main/java/edonymyeon/backend/global/config/EmbeddedRedisConfig.java
  backend/src/main/java/edonymyeon/backend/global/config/RedisConfiguration.java
  backend/src/main/java/edonymyeon/backend/post/application/PostReadService.java
  backend/src/main/java/edonymyeon/backend/post/domain/HotPostPolicy.java
  backend/src/main/java/edonymyeon/backend/post/repository/PostRepository.java
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application-prod.properties
  backend/src/test/java/edonymyeon/backend/CacheConfig.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceHotPostsTest.java
  backend/src/test/java/edonymyeon/backend/post/application/TestCacheKeyStrategy.java
  backend/src/test/java/edonymyeon/backend/post/docs/PostControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/integration/HotPostIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/post/repository/PostRepositoryTest.java
  backend/src/test/resources/application.properties
Labels: ❤️ Backend, 🛠️ refactor

#288 fix: 캐시테스트를 테스트 컨테이너를 띄우지 않고 직접 하도록 한다
  backend/build.gradle
  backend/src/test/java/edonymyeon/backend/CacheConfig.java
Labels: 🐞 bug, ❤️ Backend, Auto-Deploy

#278 Feat/#253 핫게시글 서버연동
  android/app/src/main/java/com/app/edonymyeon/data/datasource/post/PostDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/post/PostRemoteDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/repository/PostRepositoryImpl.kt
  android/app/src/main/java/com/app/edonymyeon/data/service/PostService.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/HomeFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/HomeViewModel.kt
  android/app/src/test/java/com/app/edonymyeon/presentation/ui/main/home/HomeViewModelTest.kt
  android/domain/src/main/java/com/domain/edonymyeon/repository/PostRepository.kt
Labels: 💚 Android, ⚡️ feature

#291 feat: 핫게시글 정보를 캐싱할때 expire 기간을 두어서 30분마다 캐시가 비워지도록 한다
  backend/src/main/java/edonymyeon/backend/cache/application/BooleanTemplate.java
  backend/src/main/java/edonymyeon/backend/cache/application/LongTemplate.java
  backend/src/main/java/edonymyeon/backend/cache/application/PostCachingService.java
  backend/src/main/java/edonymyeon/backend/cache/util/CacheKeyStrategy.java
  backend/src/main/java/edonymyeon/backend/cache/util/HotPostCachePolicy.java
  backend/src/main/java/edonymyeon/backend/cache/util/ProductCacheKeyStrategy.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceHotPostsTest.java
  backend/src/test/java/edonymyeon/backend/post/application/TestCacheKeyStrategy.java
Labels: ❤️ Backend, 🛠️ refactor, Auto-Deploy

#297 Refactor/#271 필요없는 로직 삭제
  android/app/src/main/java/com/app/edonymyeon/mapper/PostItemMapper.kt
  android/app/src/main/java/com/app/edonymyeon/mapper/PostMapper.kt
  android/app/src/main/java/com/app/edonymyeon/mapper/ReactionMapper.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/common/customview/PostReactionView.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/viewholder/HotPostViewHolder.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/post/viewholder/PostViewHolder.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/ReactionCountUiModel.kt
  android/app/src/main/res/layout/activity_post.xml
  android/app/src/main/res/layout/activity_post_detail.xml
  android/app/src/main/res/layout/activity_post_editor.xml
  android/app/src/main/res/layout/view_post_reaction.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/test/java/com/app/edonymyeon/presentation/ui/main/home/HomeViewModelTest.kt
  android/app/src/test/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailViewModelTest.kt
  android/domain/src/main/java/com/domain/edonymyeon/model/ReactionCount.kt
Labels: 💚 Android, 🛠️ refactor

#296 Refactor/#295_구매 확정 다이얼로그에 원래 금액이 먼저 보이도록 수정
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/mypost/MyPostActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/mypost/MyPostViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/mypost/MyPostViewModelFactory.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/mypost/dialog/ConsumptionDialog.kt
  android/app/src/test/java/com/app/edonymyeon/presentation/ui/mypost/MyPostViewModelTest.kt
Labels: 💚 Android, 🛠️ refactor

#294 refactor: 게시글 삭제시 on delete cascade 대신 레포지토리를 통해 소비내역을 삭제하도록 수정
  backend/src/main/java/edonymyeon/backend/consumption/application/PostConsumptionServiceImpl.java
  backend/src/main/java/edonymyeon/backend/consumption/domain/Consumption.java
  backend/src/main/java/edonymyeon/backend/consumption/repository/ConsumptionRepository.java
  backend/src/main/java/edonymyeon/backend/post/application/PostService.java
  backend/src/main/java/edonymyeon/backend/thumbs/application/event/PostDeletionEvent.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceTest.java
Labels: ❤️ Backend, 🛠️ refactor, Auto-Deploy

#302 refactor: properties 파일 주석 제거
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application-prod.properties
  backend/src/test/resources/application.properties
Labels: ❤️ Backend, 🛠️ refactor, Auto-Deploy

#306 Fix/#304 레디스 캐싱과 파싱오류 수정
  backend/src/main/java/edonymyeon/backend/cache/application/BooleanTemplate.java
  backend/src/main/java/edonymyeon/backend/cache/application/HotPostsRedisRepository.java
  backend/src/main/java/edonymyeon/backend/cache/application/LongTemplate.java
  backend/src/main/java/edonymyeon/backend/cache/application/PostCachingService.java
  backend/src/main/java/edonymyeon/backend/cache/application/domain/CachedHotPost.java
  backend/src/main/java/edonymyeon/backend/cache/util/CacheKeyStrategy.java
  backend/src/main/java/edonymyeon/backend/cache/util/HotPostCachePolicy.java
  backend/src/main/java/edonymyeon/backend/cache/util/ProductCacheKeyStrategy.java
  backend/src/main/java/edonymyeon/backend/global/config/RedisConfiguration.java
  backend/src/main/java/edonymyeon/backend/global/exception/ExceptionInformation.java
  backend/src/main/java/edonymyeon/backend/post/application/PostReadService.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceHotPostsTest.java
  backend/src/test/java/edonymyeon/backend/post/application/TestCacheKeyStrategy.java
  backend/src/test/java/edonymyeon/backend/post/integration/HotPostIntegrationTest.java
Labels: 🐞 bug, ❤️ Backend, 🚨 上

#303 Refactor/#111 디자인 개선
  android/app/src/main/java/com/app/edonymyeon/application/EdonymyeonApplication.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/search/SearchFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/search/SearchViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/search/viewholder/SearchViewHolder.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/dialog/DeleteDialog.kt
  android/app/src/main/res/drawable/bg_576b9e_radius_10dp.xml
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/layout/activity_my_post.xml
  android/app/src/main/res/layout/activity_post.xml
  android/app/src/main/res/layout/activity_post_detail.xml
  android/app/src/main/res/layout/activity_post_editor.xml
  android/app/src/main/res/layout/activity_sign_up.xml
  android/app/src/main/res/layout/dialog_confirm_delete_post.xml
  android/app/src/main/res/layout/dialog_input_consumption.xml
  android/app/src/main/res/layout/dialog_report.xml
  android/app/src/main/res/layout/fragment_alarm.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/fragment_search.xml
  android/app/src/main/res/layout/item_all_post.xml
  android/app/src/main/res/layout/item_hot_post.xml
  android/app/src/main/res/layout/item_my_post.xml
  android/app/src/main/res/layout/item_post.xml
  android/app/src/main/res/layout/item_post_editor_image.xml
  android/app/src/main/res/layout/view_my_post_comsumption.xml
  android/app/src/main/res/layout/view_my_post_consumption_cancel.xml
  android/app/src/main/res/layout/view_post_reaction.xml
Labels: 💚 Android, 🛠️ refactor

#298 Feat/#284 카카오 로그인 구현
  backend/src/docs/asciidoc/common/authentication-api.adoc
  backend/src/main/java/edonymyeon/backend/auth/application/AuthService.java
  backend/src/main/java/edonymyeon/backend/auth/application/KakaoAuthResponseProvider.java
  backend/src/main/java/edonymyeon/backend/auth/application/dto/KakaoLoginRequest.java
  backend/src/main/java/edonymyeon/backend/auth/application/dto/KakaoLoginResponse.java
  backend/src/main/java/edonymyeon/backend/auth/application/dto/MemberResponse.java
  backend/src/main/java/edonymyeon/backend/auth/domain/TokenGenerator.java
  backend/src/main/java/edonymyeon/backend/auth/domain/ValidateType.java
  backend/src/main/java/edonymyeon/backend/auth/ui/AuthController.java
  backend/src/main/java/edonymyeon/backend/member/domain/Member.java
  backend/src/main/java/edonymyeon/backend/member/domain/SocialInfo.java
  backend/src/main/java/edonymyeon/backend/member/repository/MemberRepository.java
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application.properties
  backend/src/main/resources/db/migration/mysql/V1.0.1__social_login.sql
  backend/src/test/java/edonymyeon/backend/auth/AuthIntegrationTest.java
  backend/src/test/java/edonymyeon/backend/auth/docs/AuthControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/consumption/docs/ConsumptionControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/member/docs/MemberControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/post/docs/PostControllerDocsTest.java
  backend/src/test/java/edonymyeon/backend/report/docs/ReportDocsTest.java
  backend/src/test/java/edonymyeon/backend/support/MemberTestSupport.java
  backend/src/test/java/edonymyeon/backend/thumbs/docs/ThumbsControllerDocsTest.java
Labels: ❤️ Backend

#313 Fix/#249 글쓰기 버튼
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/post/PostActivity.kt
  android/app/src/main/res/drawable/ic_write_post.xml
  android/app/src/main/res/layout/activity_post.xml
Labels: 💚 Android, 下, ⚡️ feature

#314 Refactor/#312_핫 게시글이 없는 경우 뷰 처리
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/home/HomeFragment.kt
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/values/strings.xml
Labels: 💚 Android, 🛠️ refactor

#308 refactor: 로그파일 저장 경로 수정
  backend/src/main/resources/console-error-appender.xml
  backend/src/main/resources/console-info-appender.xml
  backend/src/main/resources/console-warn-appender.xml
Labels: ❤️ Backend, 🛠️ refactor, Auto-Deploy

#317 Fix/#311 캐싱된 게시글이 삭제된 경우 처리
  backend/src/main/java/edonymyeon/backend/cache/application/PostCachingService.java
  backend/src/main/java/edonymyeon/backend/cache/application/dto/CachedPostResponse.java
  backend/src/main/java/edonymyeon/backend/post/application/PostReadService.java
  backend/src/test/java/edonymyeon/backend/post/application/PostServiceHotPostsTest.java
Labels: 🐞 bug, 下, Auto-Deploy

#322 build: notification과 setting 테이블을 추가하는 SQL문 작성
  backend/src/main/java/edonymyeon/backend/notification/domain/Notification.java
  backend/src/main/resources/db/migration/mysql/V1.1.0__notification_setting.sql
Labels: 📋 docs, ❤️ Backend

#323 Feat/#320 난독화적용
  android/app/build.gradle.kts
  android/app/proguard-rules.pro
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/app/edonymyeon/data/dto/ConsumptionDataModel.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/ReactionCountDataModel.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/WriterNickNameDataModel.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/request/PurchaseConfirmRequest.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/request/ReportRequest.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/request/SavingConfirmRequest.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/request/UserRegistrationRequest.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/request/UserRegistrationRequestBody.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/response/AuthDuplicateResponse.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/response/MyPostResponse.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/response/Post.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/response/UserRegistrationRequestBody.kt
Labels: 💚 Android, 🚨 上, ⚡️ feature

#326 fix: 카카오 회원의 탈퇴 후, 로그인 시 로직 처리 추가
  backend/src/main/java/edonymyeon/backend/auth/application/AuthService.java
  backend/src/main/java/edonymyeon/backend/auth/ui/AuthController.java
  backend/src/main/java/edonymyeon/backend/auth/ui/argumentresolver/AuthArgumentResolver.java
  backend/src/test/java/edonymyeon/backend/auth/application/AuthDeleteServiceTest.java
  backend/src/test/java/edonymyeon/backend/auth/docs/AuthControllerDocsTest.java
Labels: 🐞 bug, ❤️ Backend, Auto-Deploy

#282 Fix/#280_내가쓴글페이지 수정반영오류
  android/app/build.gradle.kts
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/mypost/MyPostActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/mypost/MyPostViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/PostEditorActivity.kt
  android/app/src/main/res/layout/activity_my_post.xml
  android/app/src/main/res/layout/dialog_input_consumption.xml
Labels: 🐞 bug, 💚 Android

#324 feat: notification 조회 API에 페이징 기능 추가
  backend/src/main/java/edonymyeon/backend/auth/application/AuthService.java
  backend/src/main/java/edonymyeon/backend/auth/application/event/LoginEvent.java
  backend/src/main/java/edonymyeon/backend/member/application/MemberEventListener.java
  backend/src/main/java/edonymyeon/backend/member/application/MemberService.java
  backend/src/main/java/edonymyeon/backend/member/domain/Device.java
  backend/src/main/java/edonymyeon/backend/member/domain/Member.java
  backend/src/main/java/edonymyeon/backend/notification/application/NotificationService.java
  backend/src/main/java/edonymyeon/backend/notification/repository/NotificationRepository.java
  backend/src/main/java/edonymyeon/backend/notification/ui/NotificationController.java
  backend/src/test/java/edonymyeon/backend/auth/application/AuthServiceTest.java
  backend/src/test/java/edonymyeon/backend/notification/integration/NotificationIntegrationTest.java
Labels: ❤️ Backend, ⚡️ feature

#319 Feat/#227 카카오 로그인
  android/.gitignore
  android/app/build.gradle.kts
  android/app/proguard-rules.pro
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/app/edonymyeon/application/EdonymyeonApplication.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/auth/AuthDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/auth/AuthRemoteDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/request/TokenRequest.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/response/AuthDuplicateResponse.kt
  android/app/src/main/java/com/app/edonymyeon/data/dto/response/MyPostResponse.kt
  android/app/src/main/java/com/app/edonymyeon/data/repository/AuthRepositoryImpl.kt
  android/app/src/main/java/com/app/edonymyeon/data/service/AuthService.kt
  android/app/src/main/java/com/app/edonymyeon/mapper/WriterMapper.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/login/LoginActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/login/LoginViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/mypost/MyPostViewModelFactory.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/mypost/dialog/ConsumptionDialog.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/WriterUiModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/util/CustomBindingAdapter.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/util/LoginUtil.kt
  android/app/src/main/res/drawable/bg_576b9e_radius_6dp.xml
  android/app/src/main/res/drawable/bg_loading_progress.xml
  android/app/src/main/res/drawable/btn_login_kakao.xml
  android/app/src/main/res/drawable/ic_all_post_more.xml
  android/app/src/main/res/drawable/ic_edonymyeon_foreground.xml
  android/app/src/main/res/drawable/ic_edonymyeon_logo.xml
  android/app/src/main/res/drawable/ic_login_logo.xml
  android/app/src/main/res/drawable/ic_write_post.xml
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/layout/activity_post.xml
  android/app/src/main/res/layout/activity_post_editor.xml
  android/app/src/main/res/layout/activity_sign_up.xml
  android/app/src/main/res/layout/dialog_loading.xml
  android/app/src/main/res/layout/dialog_withdraw.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/item_hot_post.xml
  android/app/src/main/res/layout/item_post.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_edonymyeon.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_edonymyeon_round.xml
  android/domain/src/main/java/com/domain/edonymyeon/repository/AuthRepository.kt
  android/settings.gradle.kts
Labels: 💚 Android, ⚡️ feature

#316 Feat/#267 회원탈퇴 서버연동
  android/app/src/main/java/com/app/edonymyeon/data/datasource/auth/AuthLocalDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/profile/ProfileDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/datasource/profile/ProfileRemoteDataSource.kt
  android/app/src/main/java/com/app/edonymyeon/data/repository/ProfileRepositoryImpl.kt
  android/app/src/main/java/com/app/edonymyeon/data/service/ProfileService.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/login/LoginActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/MyPageFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/MyPageViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/signup/SignUpActivity.kt
  android/domain/src/main/java/com/domain/edonymyeon/repository/ProfileRepository.kt
Labels: 💚 Android, ⚡️ feature

#330 Feat/#329 글작성후 상세페이지로
  android/app/src/main/java/com/app/edonymyeon/mapper/PostItemMapper.kt
  android/app/src/main/java/com/app/edonymyeon/mapper/WriterMapper.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/MyPageFragment.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/main/mypage/MyPageViewModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/mypost/MyPostActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/post/PostActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/postdetail/PostDetailActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/ui/posteditor/PostEditorActivity.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/AllPostItemUiModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/NicknameUiModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/PostItemUiModel.kt
  android/app/src/main/java/com/app/edonymyeon/presentation/uimodel/WriterUiModel.kt
  android/app/src/main/res/layout/activity_post_detail.xml
  android/app/src/main/res/layout/dialog_input_consumption.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/values/strings.xml
Labels: 💚 Android, 🛠️ refactor

#328 feat: 로그아웃한 디바이스의 디바이스 토큰을 비활성화하는 기능 추가
  backend/src/main/java/edonymyeon/backend/auth/application/AuthService.java
  backend/src/main/java/edonymyeon/backend/auth/application/dto/LogoutRequest.java
  backend/src/main/java/edonymyeon/backend/auth/application/event/LogoutEvent.java
  backend/src/main/java/edonymyeon/backend/auth/ui/AuthController.java
  backend/src/main/java/edonymyeon/backend/global/exception/ExceptionInformation.java
  backend/src/main/java/edonymyeon/backend/member/application/DeviceRepository.java
  backend/src/main/java/edonymyeon/backend/member/application/MemberEventListener.java
  backend/src/main/java/edonymyeon/backend/member/application/MemberService.java
  backend/src/main/java/edonymyeon/backend/notification/infrastructure/FCMNotificationSender.java
  backend/src/test/java/edonymyeon/backend/auth/application/AuthServiceTest.java
Labels: ❤️ Backend, ⚡️ feature

#337 fix: 로그인 시 디바이스 활성화 작업이 데이터베이스에 반영되지 않는 버그 해결
  backend/src/main/java/edonymyeon/backend/member/application/MemberService.java
Labels: 🐞 bug, ❤️ Backend
